
<ion-pane class="login-container">
    <ion-content>
        <div class="row">
            <div class="col-80 desktop-view logo logo-small" ng-click="goToLogin()"><img src="img/altamira_logo.png" alt=""> Altamira Industria Metalurgica</div>
            <div class="col-20 col-20-des">
                <span class="login-link" toggle-home> <img src="img/user-img.jpg" alt="">
                    <div class="login-box">Alessandro<br>
                        <span>Holanda</span><br>
                    </div>
                </span>
                <div class="slidediv logout-link">
                    <div class="logout"><i class="fa fa-cog"></i> Preferences</div>
                    <br>
                    <div class="clearfix"></div>
                    <div class="logout"><i class="fa fa-power-off"></i>Logout</div>
                </div>
            </div>
            <div class="col logo-des"><img src="img/altamira_logo.png" alt=""> <span>Altamira</span></div>
        </div>
        <div class="row">
            <div class="col home-container">
                <div class="row">
                    <div class="col-20">
                        <div style="background-color: #00aeef;margin: auto;width: 100%;margin-bottom: 15px;" class="row">
                            <div style="text-align: center;color: #ffffff;" class="col">
                                <div class="row">
                                    <div class="col"> <span class="icon-side-cart"></span> </div>
                                </div>
                                <div class="row">
                                    <div class="col"> <span style="font-size: 30px;">Compras</span> </div>
                                </div>
                            </div>
                        </div>
                        <div style="margin-bottom:6px;" class="row list-box">
                            <div class="col icon-list-box bg-blue"> <a style="text-decoration: none;color: #000000" href="#">
                                    <div class="row">
                                        <div style="padding-top:15px;" class="col"> <span class="icon-side-list"></span> </div>
                                    </div>
                                    <div class="row produce-name">
                                        <div class="col"> <span>Requisição</span> </div>
                                    </div>
                                </a> </div>
                            <div class="col icon-list-box bg-blue"> <a style="text-decoration: none;color: #000000" href="#">
                                    <div class="row">
                                        <div style="padding-top:15px;" class="col"><span class="icon-side-spin"></span> </div>
                                    </div>
                                    <div class="row produce-name">
                                        <div class="col"> <span>Material</span> </div>
                                    </div>
                                </a> </div>
                        </div>
                        <div class="row list-box list-box2">
                            <div class="col-25 icon-box2 bg-blue "> <span class="icon-side-camera"></span> </div>
                            <div class="col-25  icon-box2 bg-blue share-icon"> <span class="icon-side-share-2 "></span> </div>
                        </div>
                        <div style="background-color: #00aeef;margin: auto;width: 100%;margin-bottom: 10px; padding-top:4px; padding-bottom:4px;" class="row">
                            <div class="col"> <i class="icon-side-share-3"></i> <span class="icon-title">Cotação</span> </div>
                        </div>
                        <div style="background-color: #00aeef;margin: auto;width: 100%;margin-bottom: 10px; padding-top:8px; padding-bottom:8px;" class="row">
                            <div class="col"> <i class="icon-side-thumbs-down"></i> <span class="icon-title">Devolução</span> </div>
                        </div>
                    </div>
                    <div class="col-20">
                        <div style="background-color: #a4c400;margin: auto;width: 100%;margin-bottom: 15px;" class="row">
                            <div style="text-align: center;color: #ffffff;" class="col">
                                <div class="row">
                                    <div class="col"> <span class="icon-side-tag"></span> </div>
                                </div>
                                <div class="row">
                                    <div class="col"> <span style="font-size: 30px;">Vendas</span> </div>
                                </div>
                            </div>
                        </div>
                        <div style="margin-bottom:6px;" class="row list-box">
                            <div class="col icon-list-box bg-lime"> <a style="text-decoration: none;color: #000000" href="#">
                                    <div class="row">
                                        <div style="padding-top:15px;" class="col"> <span class="icon-side-list"></span> </div>
                                    </div>
                                    <div class="row produce-name">
                                        <div class="col"> <span>Pedido Venda</span> </div>
                                    </div>
                                </a> </div>
                            <div class="col icon-list-box bg-lime"> <a style="text-decoration: none;color: #000000" href="#">
                                    <div class="row">
                                        <div style="padding-top:15px;" class="col"> <span class="icon-side-spin"></span> </div>
                                    </div>
                                    <div class="row produce-name">
                                        <div class="col"> <span>Acompanhamento</span> </div>
                                    </div>
                                </a> </div>
                        </div>
                        <div class="row list-box">
                            <div class="col icon-box2 bg-lime"> <span class="icon-side-flag-2"></span> </div>
                            <div class="col  icon-box2 bg-lime"> <span class="icon-side-attachment"></span> </div>
                            <div class="col  icon-box2 bg-lime"> <span class="icon-side-newspaper"></span> </div>
                            <div class="col  icon-box2 bg-lime"> <span class="icon-side-link"></span> </div>
                        </div>
                        <div style="background-color: #a3c300;margin: auto;width: 100%;margin-bottom: 10px; padding-top:5px; padding-bottom:4px;" class="row">
                            <div class="col"> <i class="icon-side-file-pdf fg-white"></i> <span class="icon-title">Orçamento</span> </div>
                        </div>
                        <div style="background-color: #a3c300;margin: auto;width: 100%;margin-bottom: 10px; padding-top:7px; padding-bottom:6px;" class="row">
                            <div class="col"> <i class="icon-side-phone fg-white"></i><span class="icon-title"> Recados</span> </div>
                        </div>
                    </div>
                    <div class="col-20">
                        <div style="background-color: #00ABA9;margin: auto;width: 100%;margin-bottom: 15px;" class="row">
                            <div style="text-align: center;color: #ffffff;" class="col">
                                <div class="row">
                                    <div class="col"> <span class="icon-side-cog"></span> </div>
                                </div>
                                <div class="row">
                                    <div class="col"> <span style="font-size: 30px;">Produção</span> </div>
                                </div>
                            </div>
                        </div>
                        <div style="margin-bottom:6px;" class="row list-box">
                            <div class="col icon-list-box"> <a style="text-decoration: none;color: #000000" href="#">
                                    <div class="row">
                                        <div style="padding-top:15px;" class="col"> <span class="icon-side-list"></span> </div>
                                    </div>
                                    <div class="row produce-name">
                                        <div class="col"> <span>Lista de Material</span> </div>
                                    </div>
                                </a> </div>
                            <div class="col icon-list-box"> <a style="text-decoration: none;color: #000000" href="#">
                                    <div class="row">
                                        <div style="padding-top:15px;" class="col"> <span class="icon-side-github-6"></span> </div>
                                    </div>
                                    <div class="row produce-name">
                                        <div class="col"> <span>Processo</span> </div>
                                    </div>
                                </a> </div>
                        </div>
                        <div class="row list-box">
                            <div class="col icon-box2"> <span class="icon-side-flag-2"></span> </div>
                            <div class="col  icon-box2"> <span class="icon-side-attachment"></span> </div>
                            <div class="col  icon-box2"> <span class="icon-side-newspaper"></span> </div>
                            <div class="col  icon-box2"> <span class="icon-side-link"></span> </div>
                        </div>
                        <div style="background-color: #00ABA9;margin: auto;width: 100%;margin-bottom: 10px; padding-top:4px; padding-bottom:4px;" class="row">
                            <div class="col"> <i class="icon-side-play-2 fg-white" style="margin-top:6px;"></i> <span class="icon-title">O.S.</span> </div>
                        </div>
                        <div style="background-color: #00ABA9;margin: auto;width: 100%;margin-bottom: 10px; padding-top:8px; padding-bottom:8px;" class="row">
                            <div class="col"> <i class="icon-side-checkbox fg-white"></i> <span class="icon-title">Apontamento</span> </div>
                        </div>
                    </div>
                    <div class="col-20">
                        <div style="margin: auto;width: 100%;margin-bottom: 15px;" class="row orange-bg">
                            <div style="text-align: center;color: #ffffff;" class="col">
                                <div class="row">
                                    <div class="col"> <i class="fa fa-usd"></i> </div>
                                </div>
                                <div class="row">
                                    <div class="col"> <span style="font-size: 30px;">Financial</span> </div>
                                </div>
                            </div>
                        </div>
                        <div style="margin-bottom:2px;" class="row list-box">
                            <div class="col icon-list-box orange-bg"> <a style="text-decoration: none;color: #000000" href="#">
                                    <div class="row">
                                        <div style="padding-top:15px;" class="col"> <i class="fa fa-btc"></i> </div>
                                    </div>
                                    <div class="row produce-name">
                                        <div class="col"> <span>Requisição</span> </div>
                                    </div>
                                </a> </div>
                            <div class="col icon-list-box orange-bg"> <a style="text-decoration: none;color: #000000" href="#">
                                    <div class="row">
                                        <div style="padding-top:15px;" class="col"> <i class="fa fa-money"></i> </div>
                                    </div>
                                    <div class="row produce-name">
                                        <div class="col"> <span>Material</span> </div>
                                    </div>
                                </a> </div>
                        </div>
                        <div style="margin: auto;width: 100%;margin-bottom: 16px; padding-top:4px; padding-bottom:4px;" class="row orange-bg">
                            <div class="col"> <i class="fa fa-cc-visa"></i> <span class="icon-title">Cotação</span> </div>
                        </div>
                        <div style="margin-bottom:2px;" class="row list-box">
                            <div class="col icon-list-box orange-bg"> <a style="text-decoration: none;color: #000000" href="#">
                                    <div class="row">
                                        <div style="padding-top:20px;" class="col"> <i class="fa fa-minus-circle"></i> </div>
                                    </div>
                                    <div class="row produce-name">
                                        <div class="col"> <span>Requisição</span> </div>
                                    </div>
                                </a> </div>
                            <div class="col icon-list-box orange-bg"> <a style="text-decoration: none;color: #000000" href="#">
                                    <div class="row">
                                        <div style="padding-top:20px;" class="col"> <i class="fa fa-plus-circle"></i> </div>
                                    </div>
                                    <div class="row produce-name">
                                        <div class="col"> <span>Material</span> </div>
                                    </div>
                                </a> </div>
                        </div>
                    </div>
                    <div class="col-20">
                        <div style="background-color: #a4c400;margin: auto;width: 100%;margin-bottom: 15px;" class="row">
                            <div style="text-align: center;color: #ffffff;" class="col">
                                <div class="row">
                                    <div class="col"> <span class="icon-side-tag"></span> </div>
                                </div>
                                <div class="row">
                                    <div class="col"> <span style="font-size: 30px;">Vendas</span> </div>
                                </div>
                            </div>
                        </div>
                        <div style="margin-bottom:6px;" class="row list-box">
                            <div class="col icon-list-box bg-lime"> <a style="text-decoration: none;color: #000000" href="#">
                                    <div class="row">
                                        <div style="padding-top:15px;" class="col"> <span class="icon-side-list"></span> </div>
                                    </div>
                                    <div class="row produce-name">
                                        <div class="col"> <span>Pedido Venda</span> </div>
                                    </div>
                                </a> </div>
                            <div class="col icon-list-box bg-lime"> <a style="text-decoration: none;color: #000000" href="#">
                                    <div class="row">
                                        <div style="padding-top:15px;" class="col"> <span class="icon-side-spin"></span> </div>
                                    </div>
                                    <div class="row produce-name">
                                        <div class="col"> <span>Acompanhamento</span> </div>
                                    </div>
                                </a> </div>
                        </div>
                        <div class="row list-box">
                            <div class="col icon-box2 bg-lime"> <span class="icon-side-flag-2"></span> </div>
                            <div class="col  icon-box2 bg-lime"> <span class="icon-side-attachment"></span> </div>
                            <div class="col  icon-box2 bg-lime"> <span class="icon-side-newspaper"></span> </div>
                            <div class="col  icon-box2 bg-lime"> <span class="icon-side-link"></span> </div>
                        </div>
                        <div style="background-color: #a3c300;margin: auto;width: 100%;margin-bottom: 10px; padding-top:5px; padding-bottom:4px;" class="row">
                            <div class="col"> <i class="icon-side-file-pdf fg-white"></i> <span class="icon-title">Orçamento</span> </div>
                        </div>
                        <div style="background-color: #a3c300;margin: auto;width: 100%;margin-bottom: 10px; padding-top:7px; padding-bottom:6px;" class="row">
                            <div class="col"> <i class="icon-side-phone fg-white"></i><span class="icon-title"> Recados</span> </div>
                        </div>
                    </div>

                    <div class="col-20">
                        <div style="background-color: #00ABA9;margin: auto;width: 100%;margin-bottom: 15px;" class="row">
                            <div style="text-align: center;color: #ffffff;" class="col">
                                <div class="row">
                                    <div class="col"> <span class="icon-side-cog"></span> </div>
                                </div>
                                <div class="row">
                                    <div class="col"> <span style="font-size: 30px;">Produção</span> </div>
                                </div>
                            </div>
                        </div>
                        <div style="margin-bottom:6px;" class="row list-box">
                            <div class="col icon-list-box"> <a style="text-decoration: none;color: #000000" href="#">
                                    <div class="row">
                                        <div style="padding-top:15px;" class="col"> <span class="icon-side-list"></span> </div>
                                    </div>
                                    <div class="row produce-name">
                                        <div class="col"> <span>Lista de Material</span> </div>
                                    </div>
                                </a> </div>
                            <div class="col icon-list-box"> <a style="text-decoration: none;color: #000000" href="#">
                                    <div class="row">
                                        <div style="padding-top:15px;" class="col"> <span class="icon-side-github-6"></span> </div>
                                    </div>
                                    <div class="row produce-name">
                                        <div class="col"> <span>Processo</span> </div>
                                    </div>
                                </a> </div>
                        </div>
                        <div class="row list-box">
                            <div class="col icon-box2"> <span class="icon-side-flag-2"></span> </div>
                            <div class="col  icon-box2"> <span class="icon-side-attachment"></span> </div>
                            <div class="col  icon-box2"> <span class="icon-side-newspaper"></span> </div>
                            <div class="col  icon-box2"> <span class="icon-side-link"></span> </div>
                        </div>
                        <div style="background-color: #00ABA9;margin: auto;width: 100%;margin-bottom: 10px; padding-top:4px; padding-bottom:4px;" class="row">
                            <div class="col"> <i class="icon-side-play-2 fg-white" style="margin-top:6px;"></i> <span class="icon-title">O.S.</span> </div>
                        </div>
                        <div style="background-color: #00ABA9;margin: auto;width: 100%;margin-bottom: 10px; padding-top:8px; padding-bottom:8px;" class="row">
                            <div class="col"> <i class="icon-side-checkbox fg-white"></i> <span class="icon-title">Apontamento</span> </div>
                        </div>
                    </div>
                    <div class="col-20">
                        <div style="background-color: #a4c400;margin: auto;width: 100%;margin-bottom: 15px;" class="row">
                            <div style="text-align: center;color: #ffffff;" class="col">
                                <div class="row">
                                    <div class="col"> <span class="icon-side-tag"></span> </div>
                                </div>
                                <div class="row">
                                    <div class="col"> <span style="font-size: 30px;">Vendas</span> </div>
                                </div>
                            </div>
                        </div>
                        <div style="margin-bottom:6px;" class="row list-box">
                            <div class="col icon-list-box bg-lime"> <a style="text-decoration: none;color: #000000" href="#">
                                    <div class="row">
                                        <div style="padding-top:15px;" class="col"> <span class="icon-side-list"></span> </div>
                                    </div>
                                    <div class="row produce-name">
                                        <div class="col"> <span>Pedido Venda</span> </div>
                                    </div>
                                </a> </div>
                            <div class="col icon-list-box bg-lime"> <a style="text-decoration: none;color: #000000" href="#">
                                    <div class="row">
                                        <div style="padding-top:15px;" class="col"> <span class="icon-side-spin"></span> </div>
                                    </div>
                                    <div class="row produce-name">
                                        <div class="col"> <span>Acompanhamento</span> </div>
                                    </div>
                                </a> </div>
                        </div>
                        <div class="row list-box">
                            <div class="col icon-box2 bg-lime"> <span class="icon-side-flag-2"></span> </div>
                            <div class="col  icon-box2 bg-lime"> <span class="icon-side-attachment"></span> </div>
                            <div class="col  icon-box2 bg-lime"> <span class="icon-side-newspaper"></span> </div>
                            <div class="col  icon-box2 bg-lime"> <span class="icon-side-link"></span> </div>
                        </div>
                        <div style="background-color: #a3c300;margin: auto;width: 100%;margin-bottom: 10px; padding-top:5px; padding-bottom:4px;" class="row">
                            <div class="col"> <i class="icon-side-file-pdf fg-white"></i> <span class="icon-title">Orçamento</span> </div>
                        </div>
                        <div style="background-color: #a3c300;margin: auto;width: 100%;margin-bottom: 10px; padding-top:7px; padding-bottom:6px;" class="row">
                            <div class="col"> <i class="icon-side-phone fg-white"></i><span class="icon-title"> Recados</span> </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mob-left-menu">
                <div class="col">
                    <div id="compras">
                        <div class="row bg-blue" style=" margin: auto;width: 100%;margin-bottom: 15px;">
                            <div class="col" style="text-align: center;color: #ffffff;">
                                <div class="row">
                                    <div class="col"> <span class="icon-side-cart"></span> </div>
                                </div>
                                <div class="row">
                                    <div class="col"> <span style="font-size: 30px;">Compras</span> </div>
                                </div>
                            </div>
                        </div>
                        <div class="row list-box" style="margin-bottom:10px;">
                            <div class="col icon-list-box bg-blue"> <a href="#" style="text-decoration: none;color: #000000">
                                    <div class="row">
                                        <div class="col" style="padding-top:15px;"> <span class="icon-side-list"></span> </div>
                                    </div>
                                    <div class="row produce-name">
                                        <div class="col"> <span>Requisição</span> </div>
                                    </div>
                                </a> </div>
                            <div class="col icon-list-box bg-blue"> <a href="#" style="text-decoration: none;color: #000000">
                                    <div class="row">
                                        <div class="col" style="padding-top:15px;"><span class="icon-side-spin"></span> </div>
                                    </div>
                                    <div class="row produce-name">
                                        <div class="col"> <span>Material</span> </div>
                                    </div>
                                </a> </div>
                        </div>
                        <div class="row list-box list-box2" style="margin-bottom:5px; padding-right:0px;">
                            <div class="col-25 icon-box2 bg-blue "> <span class="icon-side-camera"></span> </div>
                            <div class="col-25  icon-box2 bg-blue"> <span class="icon-side-share-2"></span> </div>
                        </div>
                        <div class="row" style="background-color: #00aeef;margin: auto;width: 100%;margin-bottom: 10px; padding-top:4px; padding-bottom:4px;">
                            <div class="col"> <i class="icon-side-share-3"></i> <span class="icon-title">Cotação</span> </div>
                        </div>
                        <div class="row" style="background-color: #00aeef;margin: auto;width: 100%;margin-bottom: 25px; padding-top:8px; padding-bottom:8px;">
                            <div class="col"> <i class="icon-side-thumbs-down"></i> <span class="icon-title">Devolução</span> </div>
                        </div>
                        <div style="background-color: #a4c400;margin: auto;width: 100%;margin-bottom: 25px;" class="row" onclick="$('#compras').hide();
                                $('#vendas').slideDown('slow');
                                $('#produce').hide();">
                            <div style="text-align: center;color: #ffffff;" class="col">
                                <div class="row">
                                    <div class="col"> <span class="icon-side-tag"></span> </div>
                                </div>
                                <div class="row">
                                    <div class="col"> <span style="font-size: 30px;">Vendas</span> </div>
                                </div>
                            </div>
                        </div>
                        <div style="background-color: #00ABA9;margin: auto;width: 100%;margin-bottom: 15px;" class="row" onclick="$('#compras').hide();
                                $('#vendas').hide();
                                $('#produce').show();">
                            <div style="text-align: center;color: #ffffff;" class="col">
                                <div class="row">
                                    <div class="col"> <span class="icon-side-cog"></span> </div>
                                </div>
                                <div class="row">
                                    <div class="col"> <span style="font-size: 30px;">Produção</span> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="vendas" style="display: none">
                        <div style="background-color: #00aeef;margin: auto;width: 100%;margin-bottom: 25px;" class="row" onclick="$('#compras').show();
                                $('#vendas').hide();
                                $('#produce').hide();">
                            <div style="text-align: center;color: #ffffff;" class="col">
                                <div class="row">
                                    <div class="col"> <span class="icon-side-cart"></span> </div>
                                </div>
                                <div class="row">
                                    <div class="col"> <span style="font-size: 30px;">Compras</span> </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="background-color: #a4c400;margin: auto;width: 100%;margin-bottom: 15px;">
                            <div class="col" style="text-align: center;color: #ffffff;">
                                <div class="row">
                                    <div class="col"> <span class="icon-side-tag"></span> </div>
                                </div>
                                <div class="row">
                                    <div class="col"> <span style="font-size: 30px;">Vendas</span> </div>
                                </div>
                            </div>
                        </div>
                        <div class="row list-box" style="margin-bottom:10px;">
                            <div class="col icon-list-box bg-lime"> <a href="#" style="text-decoration: none;color: #000000">
                                    <div class="row">
                                        <div class="col" style="padding-top:15px;"> <span class="icon-side-list"></span> </div>
                                    </div>
                                    <div class="row produce-name">
                                        <div class="col"> <span>Pedido Venda</span> </div>
                                    </div>
                                </a> </div>
                            <div class="col icon-list-box bg-lime"> <a href="#" style="text-decoration: none;color: #000000">
                                    <div class="row">
                                        <div class="col" style="padding-top:15px;"><span class="icon-side-spin"></span> </div>
                                    </div>
                                    <div class="row produce-name">
                                        <div class="col"> <span>Acompanhamento</span> </div>
                                    </div>
                                </a> </div>
                        </div>
                        <div class="row list-box list-box2" style="margin-bottom:5px; padding-right:0px;">
                            <div class="col-25 icon-box2 bg-lime "> <span class="icon-side-flag-2"></span> </div>
                            <div class="col-25  icon-box2 bg-lime"> <span class="icon-side-attachment"></span> </div>
                            <div class="col-25  icon-box2 bg-lime"> <span class="icon-side-newspaper"></span> </div>
                            <div class="col-25  icon-box2 bg-lime"> <span class="icon-side-link"></span> </div>
                        </div>
                        <div class="row" style="background-color: #a4c400;margin: auto;width: 100%;margin-bottom: 10px; padding-top:4px; padding-bottom:4px;">
                            <div class="col"> <i class="icon-side-file-pdf"></i> <span class="icon-title">Orçamento</span> </div>
                        </div>
                        <div class="row" style="background-color: #a4c400;margin: auto;width: 100%;margin-bottom: 25px; padding-top:8px; padding-bottom:8px;">
                            <div class="col"> <i class="icon-side-phone"></i> <span class="icon-title"> Recados</span> </div>
                        </div>
                        <div style="background-color: #00ABA9;margin: auto;width: 100%;margin-bottom: 15px;" class="row" onclick="$('#compras').hide();
                                $('#vendas').hide();
                                $('#produce').show();">
                            <div style="text-align: center;color: #ffffff;" class="col">
                                <div class="row">
                                    <div class="col"> <span class="icon-side-cog"></span> </div>
                                </div>
                                <div class="row">
                                    <div class="col"> <span style="font-size: 30px;">Produção</span> </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="produce" style="display: none">
                        <div class="row" style="background-color: #00aeef;margin: auto;width: 100%;margin-bottom: 15px;" onclick="$('#compras').show();
                                $('#vendas').hide();
                                $('#produce').hide();">
                            <div class="col" style="text-align: center;color: #ffffff;">
                                <div class="row">
                                    <div class="col"> <span class="icon-side-cart"></span> </div>
                                </div>
                                <div class="row">
                                    <div class="col"> <span style="font-size: 30px;">Compras</span> </div>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="background-color: #a4c400;margin: auto;width: 100%;margin-bottom: 15px;" onclick="$('#compras').hide();
                                $('#vendas').show();
                                $('#produce').hide();">
                            <div class="col" style="text-align: center;color: #ffffff;">
                                <div class="row">
                                    <div class="col"> <span class="icon-side-tag"></span> </div>
                                </div>
                                <div class="row">
                                    <div class="col"> <span style="font-size: 30px;">Vendas</span> </div>
                                </div>
                            </div>
                        </div>
                        <div style="background-color: #00ABA9;margin: auto;width: 100%;margin-bottom: 15px;" class="row">
                            <div style="text-align: center;color: #ffffff;" class="col">
                                <div class="row">
                                    <div class="col"> <span class="icon-side-cog"></span> </div>
                                </div>
                                <div class="row">
                                    <div class="col"> <span style="font-size: 30px;">Produção</span> </div>
                                </div>
                            </div>
                        </div>
                        <div class="row list-box" style="margin-bottom:10px;">
                            <div class="col icon-list-box"> <a href="#" style="background-color: #00aba9; text-decoration: none;color: #000000">
                                    <div class="row">
                                        <div class="col" style="padding-top:15px;"> <span class="icon-side-list"></span> </div>
                                    </div>
                                    <div class="row produce-name">
                                        <div class="col"> <span>Lista de Material</span> </div>
                                    </div>
                                </a> </div>
                            <div class="col icon-list-box"> <a href="#" style="background-color: #00aba9; text-decoration: none;color: #000000">
                                    <div class="row">
                                        <div class="col" style="padding-top:15px;"><span class="icon-side-github-6"></span> </div>
                                    </div>
                                    <div class="row produce-name">
                                        <div class="col"> <span>Processo</span> </div>
                                    </div>
                                </a> </div>
                        </div>
                        <div class="row list-box list-box2" style="margin-bottom:5px; padding-right:0px;">
                            <div class="col-25 icon-box2" style="background-color: #00aba9; "> <span class="icon-side-flag-2"></span> </div>
                            <div class="col-25 icon-box2" style="background-color: #00aba9; "> <span class="icon-side-attachment"></span> </div>
                            <div class="col-25 icon-box2" style="background-color: #00aba9; "> <span class="icon-side-newspaper"></span> </div>
                            <div class="col-25 icon-box2" style="background-color: #00aba9; "> <span class="icon-side-link"></span> </div>
                        </div>
                        <div class="row" style="background-color: #00aba9;margin: auto;width: 100%;margin-bottom: 10px; padding-top:4px; padding-bottom:4px;">
                            <div class="col"> <i class="icon-side-play-2"></i> <span class="icon-title">O.S.</span> </div>
                        </div>
                        <div class="row" style="background-color: #00aba9;margin: auto;width: 100%;margin-bottom: 25px; padding-top:8px; padding-bottom:8px;">
                            <div class="col"> <i class="icon-side-checkbox"></i> <span class="icon-title">Apontamento</span> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-pane>
