<ion-content  class="left-menu">
    <div class="row">
        <div class="col" style="color: white;text-align: center">
            <span class="logo-side-menu"></span>
            <span style="font-size: 30px; float:left; padding-top:16px; padding-left:10px;">Altamira</span>
        </div>
    </div>
    <div class="row" style="background-color: #00ABA9;margin: auto;width: 95%;margin-bottom: 15px;">
        <div class="col" style="text-align: center;color: #ffffff;">
            <div class="row">
                <div class="col">
                    <span class="icon-side-cog"></span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span style="font-size: 30px;">Produção</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row list-box" style="margin-bottom:10px;">
        <div class="col icon-list-box">
            <a href="#/manufacturing/bom" style="text-decoration: none;color: #000000">
                <div class="row">
                    <div class="col" style="padding-top:15px;">
                        <span class="icon-side-list"></span>
                    </div>
                </div>
                <div class="row produce-name" >
                    <div class="col">
                        <span>Lista de Material</span>
                    </div>
                </div>
            </a>
        </div>
        <div class="col icon-list-box">
            <a href="#/manufacturing/process/0" style="text-decoration: none;color: #000000">
                <div class="row">
                    <div class="col" style="padding-top:15px;">
                        <span class="icon-side-github-6"></span>
                    </div>
                </div>
                <div class="row produce-name" >
                    <div class="col">
                        <span>Processo</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="row list-box" style="margin-bottom:5px; padding-right:0px;">
        <div class="col icon-box2">

            <span class="icon-side-flag-2"></span>
        </div>
        <div class="col  icon-box2">
            <span class="icon-side-attachment"></span>
        </div>
        <div class="col  icon-box2">
            <span class="icon-side-newspaper"></span>
        </div>
        <div class="col  icon-box2">
            <span class="icon-side-link"></span>
        </div>
    </div>
    <div class="row" style="background-color: #00ABA9;margin: auto;width: 95%;margin-bottom: 10px; padding-top:4px; padding-bottom:4px;">
        <div class="col">
            <i style="margin-top:6px;" class="icon-side-play-2 fg-white"></i>                        <span class="icon-title">O.S.</span>

        </div>
    </div>
    <div class="row" style="background-color: #00ABA9;margin: auto;width: 95%;margin-bottom: 10px; padding-top:8px; padding-bottom:8px;">
        <div class="col">
            <i class="icon-side-checkbox fg-white"></i>
            <span class="icon-title">Apontamento</span>

        </div>
    </div>
    <div class="row" style="background-color: #a4c400;margin: auto;width: 95%;margin-bottom: 10px;">
        <div class="col" style="text-align: center;color: #ffffff;">
            <div class="row">
                <div class="col">
                    <span class="icon-side-tag"></span>

                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span style="font-size: 30px;">Vendas</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row" style="background-color: #00aff0;margin: auto;width: 95%;margin-bottom: 7px;">
        <div class="col" style="text-align: center;color: #ffffff;">
            <div class="row">
                <div class="col">
                    <span class="icon-side-cart"></span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <span style="font-size: 30px;">Compras</span>
                </div>
            </div>
        </div>
    </div>
    <div class="scroll-bar scroll-bar-v"><div class="scroll-bar-indicator scroll-bar-fade-out"></div></div>
</ion-content>