<ion-pane>
    <ion-header-bar class="bar-calm">
        <div class="buttons header-margin">
            <button class="button fa-bars"></button>
            <span class="btn-separator"></span>
            <h4 class="mf-page-titles">&nbsp;Processo de Fabricação&nbsp;</h4>
            <span class="btn-separator"></span>
            <button class="button fa-plus" ng-click="newProcess()"></button>
        </div>
    </ion-header-bar>
    <ion-content class="content-body">
        <div class="row">
            <div class="col">
                <div class="list">

                    <div class="item item-input-inset">
                        <label class="item-input-wrapper">
                            <input type="text" placeholder="search" ng-model="q">
                        </label>
                        <button class="button button-small">
                            Submit
                        </button>
                    </div>

                </div>
            </div>
        </div>
        <div class="row desktop-view">
            <div class="col">
                <div class="list list-inset" ng-repeat="process in processes">
                    <a class="item item-icon-right" href="#">
                        <!--<div class="list-start-bar"></div>-->
                        <span class="text-center-middle"><span class="font-grey">{{process.code}}</span> {{process.description}}</span>
                        <i class="icon fa-arrow-right"></i>
                    </a>
                </div>

            </div>
        </div>
        <div class="row desktop-view">
            <div class="col col-33 col-offset-67">
                <div class="list list-inset">
                    <div class="button-bar">
                        <a  class="button button-light" ng-repeat="n in pageStack" ng-click="goPage(n)">{{n}}</a>
                        <a  class="button button-light" ng-click="nextPage()">Next</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row small-screen-view">
            <div class="col">
                <div class="list list-inset" ng-repeat="process in processes | filter:searchData.search | itemsPerPage: pageSize" current-page="currentPage">
                    <a class="item item-icon-right" href="#">
                        <!--<div class="list-start-bar"></div>-->
                        <span class="text-center-middle font-grey">{{process.code}}</span><br/>
                        <span class="text-center-middle">{{process.description}}</span>
                        <i class="icon fa-arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <!--<dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="templates/dirPagination.tpl.html"></dir-pagination-controls>-->
    </ion-content>
</ion-pane>