<div class="loding_div" ng-show="loading">
    <div id="loadingProgressG">
        <div id="loadingProgressG_1" class="loadingProgressG">
        </div>
    </div>
</div>
<ion-pane>
    <ion-header-bar class="bar-calm">
        <div class="buttons header-margin">
            <button class="button fa-bars"></button>
            <span class="btn-separator"></span>
            <button class="button fa-check" ng-click="submitted=true" ></button>
            <button type="button" class="button fa-remove-header"></button>
            <button type="button" class="button fa-print-header"></button>
            <button type="button" class="button fa-link-header" ng-click="joinDate()" ng-if="viewtype == 'form'"></button>
            <button type="button" class="button fa-unlink-header" ng-click="divideDate()" ng-if="viewtype == 'form'"></button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="row bar-calm-top">
            <div class="col col-50" style="display: none">
                <div class="button-bar bar-calm">
                    <a class="button topBtnRadius month" ng-click='monthlyView()' id="monthlyShowBtn">Mensal</a>
                    <a class="button" ng-click='weeklyView()' id="weeklyShowBtn">Semanal</a>
                </div>
            </div>
            <div class="col col-50 col-offset-50">
                <div class="button-bar bar-calm" style="float: right">
                    <a class="button topBtnRadius fa-list-alt" ng-click="formView()" id="formShowBtn"></a>
                    <a class="button fa-th month" ng-click="gridView()" id="gridShowBtn"></a>
                </div>
            </div>
        </div>
        <div class="row planning-col">
            <div class="col col-33 tableTitle">Planejamento de Entrega</div>
            <div class="col col-67 tableTitle align-right">Hoje : {{today}}</div>
        </div>
        <input type="hidden" id="orderListLength" value="{{orderListLength}}">
        <div class="row main-row nested" >
            <div id="sidebar" class="width-30">
                <div class="row scroll-div dataRow nested" datarow-load>
                    <table class="dataTable" ng-if='orderList'>
                        <tr>
                            <th class="monthTitle dataTable-title" colspan="5">Pedidos</th>
                        </tr>
                        <tr>
                            <th>&nbsp;</th>
                            <th style="min-width: 75px">Pedido</th>
                            <th style="min-width: 140px">Cliente</th>
                            <th style="min-width: 100px">Data Pedido</th>
                            <th style="min-width: 100px">Data Entrega</th>
                        </tr>
                        <tr ng-repeat="order in orderList" id="{{order.id}}" ng-click="getOrderData({{order.id}})" style="cursor: pointer">
                            <td class="align-center fa-md-arrow-right-planning" ng-click="openOrder({{order.id}})"></td>
                            <td id="{{order.id}}">{{order.id}}</td>
                            <td>{{order.customer}}</td>
                            <td>{{order.created | getDate}}</td>
                            <td>{{order.delivery| getDate}}</td>
                        </tr>
                    </table>
                </div>
                <div id="dragbar"></div>
            </div>
            <div id="form_view" class="planning-detail width-70">
                <div class="row monthTitle view-title"> {{orderData.number}} - {{orderData.customer}}  </div>
                <div  class="shipping_data">
                    <div class="row" ng-repeat='data in finalList'>
                        <div id="item_repeat" class="width-100">
                            <div class="row" style="margin-top:-15px;">
                                <div class="col">
                                    <div class="list"> <a class="process-item-list item-icon-right " style="padding-left:0px;">ITEM {{data.item}}  </a> </div>
                                </div>
                            </div>
                            <div class="edit-item">
                                <div class="col row">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td colspan="9" class="data-description">{{data.description}}</td>
                                        </tr>
                                        <tr>
                                            <td class="edit-item-title align-center width-9"><i class="fa-calender"></i> <span>Entrega</span></td>
                                            <td class="edit-item-title align-center width-8"><i class="fa-list-ol"></i> <span>Quantidade</span></td>
                                            <td class="edit-item-title align-center width-8"><i class="fa-list-ol"></i> <span>Entregue</span></td>
                                            <td class="edit-item-title align-center width-8"><i class="fa-list-ol"></i> <span>Restante</span></td>
                                            <td class="edit-item-title width-40"> Descricao</td>
                                            <td class="edit-item-title align-center width-10"><i class="fa-pencil"></i> <span>Cor</span></td>
                                            <td class="edit-item-title align-center width-7"><i class="fa-tachometer"></i> <span>Peso</span></td>
                                            <td class="edit-item-title align-center width-7"><i class="fa-tachometer"></i> <span>Peso</span></td>
                                            <td class="edit-item-title align-center width-3">&nbsp;</td>
                                        </tr>
                                        <tr ng-repeat='component in data.delivery' id="{{component.delivery.id}}" data-itemId="{{data.id}}">
                                            <td class="edit-info align-center width-9">{{ component.delivery.delivery | getDate }}</td>
                                            <td class="edit-info align-right width-8">{{component.delivery.quantity.value}} {{component.delivery.quantity.unit.symbol}}</td>
                                            <td class="edit-info align-right width-8">{{component.delivery.delivered.value}} {{component.delivery.quantity.unit.symbol}}</td>
                                            <td class="edit-info align-right width-8">{{component.delivery.remaining.value}} {{component.delivery.quantity.unit.symbol}}</td>
                                            <td class="edit-text width-40" ng-click='updatePart(orderData.id,data.id,component.componentId,component.delivery.id)'  style="cursor: pointer;">{{component.description}}</td>
                                            <td class="edit-text align-center width-10">{{component.color}}</td>
                                            <td class="edit-info align-right width-7">{{component.weight | setDecimal:2}} {{component.weightType}}</td>
                                            <td class="edit-info align-right width-7">{{component.weight * component.delivery.quantity.value | setDecimal:3}} {{component.weightType}}</td>
                                            <td class="edit-text align-center width-3">
                                                <i class="icon plus-icon fa-square-o" select-delivery dataitem="{{data.id}}" datapart="{{component.componentId}}" datamaterial="{{component.materialId}}" datadelivery="{{component.delivery.id}}"></i>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="grid_view" class="planning-detail width-70" style="display: none;">
                <div class="row scroll-div mainRow nested">
                    <table border="1" class="mainTable" sortable-func ng-if='orderData != "" && viewtype == "grid"'>
                        <tr>
                            <th class="monthTitle" colspan="{{month.days.length}}" ng-repeat="month in monthDays">{{month.name}}</th>
                        </tr>
                        <tr>
                            <th ng-repeat="day in days track by $index" ng-if='viewWeekly == false'>{{getDay(day)}}</th>
                            <th ng-repeat="day in days track by $index" ng-if='viewWeekly == true'>{{getWeekDayShort(day)}}</th>
                        </tr>
                        <tr ng-repeat="order in finalArr" class="{{order.id}}" ng-if="checkYear(order.delivery) <= maxYear">
                            <td ng-repeat="day in days track by $index" id="{{order.id}}" data-day='{{day}}' class='{{day}}' ng-class="(getWeekDay(day) == 'Sunday' || getWeekDay(day) == 'Saturday')? 'holiday':'makeDroppable'">
                                <div class="dragDiv" ng-repeat="delivery in order.components" id="{{day}}" ng-class="getCellColor(delivery.delivery,delivery.remaining.value)" ng-if="(checkDay(delivery.delivery) == getDay(day)) && (checkMonth(delivery.delivery) == getMonth(day)) && (checkYear(delivery.delivery) == getYear(day))" data-weight='{{delivery.remaining.value}}'>
                                    {{delivery.remaining.value | setDecimal:1}}
<!--                                    {{showWeight(del.deliveryweight)}}-->
                                </div>
                            </td>
                            <td ng-repeat="day in days track by $index" id="{{order.id}}" data-day='{{day}}' class='{{day}}' ng-class="(getWeekDay(day) == 'Sunday' || getWeekDay(day) == 'Saturday')? 'holiday':'makeDroppable'" ng-if="order.components == ''" style="width: 50px;height: 30px;">
                                &nbsp;
                            </td>
                        </tr>
                        <tr class="totalWeightRow">
                            <td ng-repeat="day in days track by $index" data-date='{{day}}'>
                                &nbsp;
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </ion-content>
</ion-pane>