<div class="loding_div" ng-show="loading">
    <div id="loadingProgressG">
        <div id="loadingProgressG_1" class="loadingProgressG">
        </div>
    </div>
</div>
<ion-nav-view class="view-container">
    <ion-side-menus>
        <ion-side-menu-content class="menu-content pane">
            <ion-nav-bar class="bar-positive nav-bar-container">
                <div class="nav-bar-block" nav-bar="active">
                    <ion-header-bar class="bar-calm">
                        <div class="buttons header-margin">
                            <button class="button fa-bars" menu-toggle="left"></button>
                            <span class="btn-separator"></span>
                            <button class="button fa-check" ng-click="submitted=true" ></button>
                            <button type="button" class="button fa-remove-header"></button>
                            <button type="button" class="button fa-print-header"></button>
                            <button type="button" class="button fa-link-header" ng-click="joinDate()" ng-if="viewtype == 'form'"></button>
                            <button type="button" class="button fa-unlink-header" ng-click="divideDate()" ng-if="viewtype == 'form'"></button>
                        </div>
                    </ion-header-bar>
                </div>
            </ion-nav-bar>
            <ion-nav-view name="menuContent" class="view-container">
                <ion-view class="pane" nav-view="active">
                    <ion-content class="padding scroll-content ionic-scroll  has-header">
                        <div class="row bar-calm-top">
                            <div class="col col-50" style="display: none">
                                <div class="button-bar bar-calm">
                                    <a class="button topBtnRadius month" ng-click='monthlyView()' id="monthlyShowBtn">Mensal</a>
                                    <a class="button" ng-click='weeklyView()' id="weeklyShowBtn">Semanal</a>
                                </div>
                            </div>
                            <div class="col col-50 col-offset-50">
                                <div class="button-bar bar-calm" style="float: right">
                                    <a class="button topBtnRadius fa-list-alt" ng-click="formView()" id="formShowBtn"></a>
                                    <a class="button fa-th month" ng-click="gridView()" id="gridShowBtn"></a>
                                </div>
                            </div>
                        </div>
                        <div class="row planning-col">
                            <div class="col col-33 tableTitle">Planejamento de Entrega</div>
                            <div class="col col-67 tableTitle align-right">Hoje : {{today}}</div>
                        </div>
                        <input type="hidden" id="orderListLength" value="{{orderListLength}}">
                        <div class="row main-row nested" >
                            <div id="sidebar" class="width-30">
                                <div class="row scroll-div dataRow nested" ng-if="viewtype == 'form'" style="height: 752px;">
                                    <table class="dataTable" ng-if='orderList'>
                                        <tr>
                                            <th class="monthTitle dataTable-title" colspan="5">Pedidos</th>
                                        </tr>
                                        <tr>
                                            <th>&nbsp;</th>
                                            <th style="min-width: 75px">Pedido</th>
                                            <th style="min-width: 140px">Cliente</th>
                                            <th style="min-width: 100px">Data Pedido</th>
                                            <th style="min-width: 100px">Data Entrega</th>
                                        </tr>
                                        <tr ng-repeat="order in orderList" id="{{order.id}}" ng-click="getOrderData({{order.id}})" style="cursor: pointer">
                                            <td class="align-center fa-md-arrow-right-planning" ng-click="openOrder({{order.id}})"></td>
                                            <td id="{{order.id}}">{{order.number}}</td>
                                            <td>{{order.customer}}</td>
                                            <td>{{order.created | getDate}}</td>
                                            <td>{{order.delivery| getDate}}</td>
                                        </tr>
                                    </table>
                                </div>
                                <div class="row scroll-div dataRow nested" ng-if="viewtype == 'grid'">
                                    <table class="dataTable" ng-if='orderList'>
                                        <tr>
                                            <th class="monthTitle dataTable-title" colspan="5">Pedidos</th>
                                        </tr>
                                        <tr>
                                            <th>&nbsp;</th>
                                            <th style="min-width: 75px">Pedido</th>
                                            <th style="min-width: 140px">Cliente</th>
                                            <th style="min-width: 100px">Data Pedido</th>
                                            <th style="min-width: 100px">Data Entrega</th>
                                        </tr>
                                        <tr ng-repeat="order in orderList" id="{{order.id}}" ng-click="getOrderData({{order.id}})" style="cursor: pointer">
                                            <td class="align-center fa-md-arrow-right-planning" ng-click="openOrder({{order.id}})"></td>
                                            <td id="{{order.id}}">{{order.number}}</td>
                                            <td>{{order.customer}}</td>
                                            <td>{{order.created | getDate}}</td>
                                            <td>{{order.delivery| getDate}}</td>
                                        </tr>
                                    </table>
                                </div>
                                <div id="dragbar"></div>
                            </div>
                            <div id="form_view" class="planning-detail width-70">
                                <div class="row monthTitle view-title"> {{orderData.number}} - {{orderData.customer}}  </div>
                                <div  class="shipping_data">
                                    <div class="row" ng-repeat='data in finalList'>
                                        <div id="item_repeat" class="width-100">
                                            <div class="row" style="margin-top:-15px;">
                                                <div class="col">
                                                    <div class="list"> <a class="process-item-list item-icon-right " style="padding-left:0px;">ITEM {{data.item}}  </a> </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col">
                                                    <div style="font-size: 16px;">{{data.description}}</div>
                                                </div>
                                            </div>
                                            <div class="edit-item" ng-if="data.delivery != ''">
                                                <div class="col row">
                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                        <tr>
                                                            <td class="edit-item-title align-center width-9"><i class="fa-calender"></i> <span>Entrega</span></td>
                                                            <td class="edit-item-title align-center width-9"><i class="fa-list-ol"></i> <span>Quantidade</span></td>
                                                            <td class="edit-item-title align-center width-9"><i class="fa-list-ol"></i> <span>Entregue</span></td>
                                                            <td class="edit-item-title align-center width-9"><i class="fa-list-ol"></i> <span>Restante</span></td>
                                                            <td class="edit-item-title width-42"> Descricao</td>
                                                            <td class="edit-item-title align-center width-10"><i class="fa-pencil"></i> <span>Cor</span></td>
                                                            <td class="edit-item-title align-center width-9"><i class="fa-tachometer"></i> <span>Peso</span></td>
                                                            <td class="edit-item-title align-center width-3">&nbsp;</td>
                                                        </tr>
                                                        <tr ng-repeat='component in data.delivery' id="{{component.delivery.id}}" data-itemId="{{data.id}}">
                                                            <td class="edit-info align-center width-9">{{ component.delivery.delivery | getDate }}</td>
                                                            <td class="edit-info align-right width-9">{{component.delivery.quantity.value}}<span style="margin-left: 5px;">{{component.delivery.quantity.unit.symbol}}</span></td>
                                                            <td class="edit-info align-right width-9">{{component.delivery.delivered.value}}<span style="margin-left: 5px;">{{component.delivery.quantity.unit.symbol}}</span></td>
                                                            <td class="edit-info align-right width-9">{{component.delivery.remaining.value}}<span style="margin-left: 5px;">{{component.delivery.quantity.unit.symbol}}</span></td>
                                                            <td class="edit-text width-42" ng-click='updatePart(orderData.id,data.id,component.componentId,component.delivery.id)'  style="cursor: pointer;">{{component.description}}</td>
                                                            <td class="edit-text align-center width-10">{{component.color}}</td>
                                                            <td class="edit-info align-right width-9">{{component.weight * component.delivery.quantity.value | setDecimal:3}}<span style="margin-left: 5px;">{{component.weightType}}</span></td>
                                                            <td class="edit-text align-center width-3">
                                                                <i class="icon plus-icon fa-square-o" select-delivery dataitem="{{data.id}}" datapart="{{component.componentId}}" datamaterial="{{component.materialId}}" datadelivery="{{component.delivery.id}}"></i>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="grid_view" class="planning-detail width-70" style="display: none;">
                                <div class="row scroll-div mainRow nested">
                                    <table border="1" class="mainTable" sortable-func ng-if='orderData != "" && viewtype == "grid"'>
                                        <tr>
                                            <th class="monthTitle" colspan="{{month.days.length}}" ng-repeat="month in monthDays">{{month.name}}</th>
                                        </tr>
                                        <tr>
                                            <th ng-repeat="day in days track by $index" ng-if='viewWeekly == false'>{{getDay(day)}}</th>
                                            <th ng-repeat="day in days track by $index" ng-if='viewWeekly == true'>{{getWeekDayShort(day)}}</th>
                                        </tr>
                                        <tr ng-repeat="order in finalArr" class="{{order.id}}" ng-if="checkYear(order.delivery) <= maxYear">
                                            <td ng-repeat="day in days track by $index" data-day='{{day}}' class='{{day}}' ng-class="(getWeekDay(day) == 'Sunday' || getWeekDay(day) == 'Saturday')? 'holiday':'makeDroppable'">
                                                <div class="dragDiv" ng-repeat="delivery in order.components" id="{{day}}" ng-class="getCellColor(delivery.delivery,delivery.remaining.value)" ng-if="(checkDay(delivery.delivery) == getDay(day)) && (checkMonth(delivery.delivery) == getMonth(day)) && (checkYear(delivery.delivery) == getYear(day))" data-weight='{{delivery.remaining.value}}'>
                                                    {{delivery.remaining.value | setDecimal:3}}
                                                </div>
                                                <div style="width: 50px;height: 30px;" ng-if="order.components == ''">&nbsp;</div>
                                            </td>
                                        </tr>
                                        <tr class="totalWeightRow">
                                            <td ng-repeat="day in days track by $index" data-date='{{day}}'>
                                                &nbsp;
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </ion-content>
                </ion-view>
            </ion-nav-view>
        </ion-side-menu-content>
        <ion-side-menu side="left" class="sidemenu-bg">
            <ion-content class="scroll-content ionic-scroll">
                <div class="scroll" leftside-menu style="padding: 0px !important">
                </div>
                <div class="scroll-bar scroll-bar-v">
                    <div class="scroll-bar-indicator scroll-bar-fade-out"></div>
                </div>
            </ion-content>
        </ion-side-menu>
    </ion-side-menus>
</ion-nav-view>