<div class="loding_div" ng-show="loading">
    <div id="loadingProgressG">
        <div id="loadingProgressG_1" class="loadingProgressG">
        </div>
    </div>
</div>
<ion-pane>
    <ion-header-bar class="bar-calm">
        <div class="buttons header-margin">
            <button type="button" class="button fa-arrow-left" ng-click="goBack()"></button>
            <span class="btn-separator"></span>
            <button class="button fa-check" ng-click="submitted=true" ></button>
            <button type="button" class="button fa-remove-header" ng-click="removeBom()"></button>
            <button type="button" class="button fa-print-header" ng-click="removeBom()"></button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="row bar-calm-top">
            <div class="col col">
                <div class="button-bar bar-calm">
                    <a class="button" ng-class="{month: semanal}">Semanal</a>
                    <a class="button" >Mensal</a>
                </div>
            </div>
        </div>
        <div class="row planning-col">
            <div class="col col-33 tableTitle">Planejamento de Entrega</div>
            <div class="col col-67 tableTitle" style="text-align: right;">Hoje : quarta-feira, {{today}}</div>
        </div>
        <div class="row main-row nested" >
            <div class="col-25">
                <div class="row scroll-div dataRow nested">
                    <table class="dataTable" ng-if='dataBOM'>
                        <tr>
                            <td class="monthTitle" colspan="5">BOM List</td>
                        </tr>
                        <tr>
                            <th>Id</th>
                            <th>Pedido</th>
                            <th>Cliente</th>
                            <th>Data Pedido</th>
                            <th>Data Entrega</th>
                        </tr>
                        <tr ng-repeat="bom in dataBOM" ng-class-odd="'odd'" ng-class-even="'even'" id="{{bom.id}}" onclick="$(this).css('background-color', 'red')">
                            <td>{{bom.id}}</td>
                            <td>{{bom.number}}</td>
                            <td>{{bom.customer}}</td>
                            <td>{{getFullDate(bom.created)}}</td>
                            <td>{{getFullDate(bom.delivery)}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-75">
                <div class="row scroll-div mainRow nested">
                    <table border="1" class="mainTable" sortable-func ng-if='dataBOM'>
                        <tr>
                            <th class="monthTitle" colspan="{{month.days.length}}" ng-repeat="month in monthDays">{{month.name}}</th>
                        </tr>
                        <tr>
                            <th ng-repeat="day in days track by $index">{{getDay(day)}}</th>
                        </tr>
                        <tr ng-repeat="BOM in dataBOM" class="{{BOM.id}}">
                            <td ng-repeat="day in days track by $index" id="{{BOM.id}}" data-day='{{day}}' ng-class="(getWeekDay(day) == 'Sunday' || getWeekDay(day) == 'Saturday')? 'holiday':'makeDroppable'">
                                <div class="dragDiv red" id="{{day}}" ng-if="(checkDay(BOM.delivery) == getDay(day)) && (checkMonth(BOM.delivery) == getMonth(day)) && (checkYear(BOM.delivery) == getYear(day))">&nbsp;</div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </ion-content>
</ion-pane>