<div class="loding_div" ng-show="loading">
    <div id="loadingProgressG">
        <div id="loadingProgressG_1" class="loadingProgressG">
        </div>
    </div>
</div>
<ion-pane>
    <ion-header-bar class="bar-calm">
        <div class="buttons header-margin">
            <button type="button" class="button fa-arrow-left" ng-click="goBack()"></button>
            <span class="btn-separator"></span>
            <button class="button fa-check" ng-click="submitted=true" ></button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="row">
            <div class="col-25">
                <div class="row content">
                    <table class="dataTable" ng-if='dataBOM'>
                        <tr>
                            <td style="background-color: #00ABA9;height: 30px;" colspan="5">BOM List</td>
                        </tr>
                        <tr>
                            <th>Id</th>
                            <th>Pedido</th>
                            <th>Cliente</th>
                            <th>Data Pedido</th>
                            <th>Data Entrega</th>
                        </tr>
                        <tr ng-repeat="bom in dataBOM">
                            <td>{{bom.id}}</td>
                            <td>{{bom.number}}</td>
                            <td>{{bom.customer}}</td>
                            <td>{{getFullDate(bom.created)}}</td>
                            <td>{{getFullDate(bom.delivery)}}</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-75">
                <div class="row content">
                    <table border="1" class="mainTable" sortable-func ng-if='dataBOM'>
                        <tr>
                            <th style="background-color: #00ABA9;height: 30px;" colspan="{{month.days.length}}" ng-repeat="month in monthDays">{{month.name}}</th>
                        </tr>
                        <tr>
                            <th ng-repeat="day in days track by $index">{{getDay(day)}}</th>
                        </tr>
                        <tr ng-repeat="BOM in dataBOM">
                            <td ng-repeat="day in days track by $index" id="{{BOM.number}}" data-day='{{day}}'>
                                <div class="dragDiv" id="{{day}}" ng-if="(checkDay(BOM.delivery) == getDay(day)) && (checkMonth(BOM.delivery) == getMonth(day)) && (checkYear(BOM.delivery) == getYear(day))">&nbsp;</div>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </ion-content>
</ion-pane>
<style type="text/css">
    .mainTable tr th, .mainTable tr td {
        border: 1px solid black;
        min-height: 26px;
        min-width: 26px;
    }
    .dragDiv {
        background-color: #E53B3B;
        font-size: 8px;
        height: 25px;
        margin: auto;
        position: relative;
        text-align: center;
        vertical-align: middle;
        width: 25px;
    }
    .mainTable tr th {
        background-color: #7F7F7F;
        text-align: left;
    }
    .mainTable tr td {
        background-color: #F3F3F3;
        text-align: left;

    }
    .dataTable tr th {
        background-color: #7F7F7F;
        text-align: left;
        border: 1px solid black;
        min-width: 130px;
    }
    .dataTable tr td {
        background-color: #F3F3F3;
        text-align: left;
        height: 26px;
        border: 1px solid black;
        min-width: 130px;
    }

</style>