<div class="loding_div" ng-show="loading">
    <div id="loadingProgressG">
        <div id="loadingProgressG_1" class="loadingProgressG">
        </div>
    </div>
</div>
<ion-pane>
    <ion-header-bar class="bar-calm">
        <div class="buttons header-margin">
            <button type="button" class="button fa-arrow-left" ng-click="goBack()"></button>
            <span class="btn-separator"></span>
            <h4 style="color: #ffffff;margin-top: 5px;">&nbsp;{{orderId}}&nbsp;</h4>
            <span class="btn-separator"></span>
            <button type="button" class="button fa-check" ng-click="openStartDateModal()" ></button>
            <button type="button" class="button fa-remove-header" ng-click="removeOrder()"></button>
            <button type="button" class="button fa-print-header" ng-click="reportBOM()" ></button>
            <button type="button" class="button fa-random-header" ng-click="processListModalShow()"></button>
        </div>
        <div class="header-col-right"><span class="total-weight">0</span> kg</div>
    </ion-header-bar>
    <ion-content>
        <div class="row bar-calm-top">
            <div class="col col-50 col-offset-50" style="padding-right: 20px;" ng-if="viewtype != 'grid'">
                <div class="button-bar top-view-change-btn" style="float: right;width: 140px;">
                    <a class="button button-bar-unselected button-bar-selected fa-component-switch" ng-click="listView()" id="listShowBtn" style="overflow: visible"></a>
                    <a class="button button-bar-unselected fa-list-alt" ng-click="formView()" id="formShowBtn" style="overflow: visible"></a>
                    <a class="button button-bar-unselected fa-th" ng-click="gridView()" id="gridShowBtn" style="overflow: visible"></a>
                </div>
            </div>
            <div class="col col-50" ng-if="viewtype == 'grid'">
                <button type="button" class="button button-calm prev-btn" style="float: left"> <i class="icon fa-arrow-left-grid"></i> </button>
                <div class="grid-date-sel">
                    <input type="text" name="selectDate" ng-model="selectDate" class="grid-sel-date" grid-date>
                    <i class="icon fa-calender-grid"></i>
                </div>
                <button type="button" class="button button-calm next-btn" style="float: left"> <i class="icon fa-arrow-right-grid"></i> </button>
            </div>
            <div class="col col-50" style="padding-right: 20px;" ng-if="viewtype == 'grid'">
                <div class="button-bar top-view-change-btn" style="float: right;width: 140px;">
                    <a class="button button-bar-unselected fa-component-switch" ng-click="listView()" id="listShowBtn" style="overflow: visible"></a>
                    <a class="button button-bar-unselected fa-list-alt" ng-click="formView()" id="formShowBtn" style="overflow: visible"></a>
                    <a class="button button-bar-unselected button-bar-selected fa-th" ng-click="gridView()" id="gridShowBtn" style="overflow: visible"></a>
                </div>
            </div>
        </div>
        <div id="list_view">
            <div class="row" ng-repeat="operation in operationData | orderBy : 'id'">
                <div id="item_repeat" class="width-100 create-list">
                    <div class="row">
                        <div class="col">
                            <div class="list">
                                <a class="process-item-list item-icon-left item-icon-right color" style="font-weight: normal">
                                    <i class="operationcompo_manage_button_{{operation.id}} icon left-icon plus-icon fa-plus-square-o" manage-operationcomponentsection operationid="{{operation.id}}" style="font-size: 22px">{{operation.name}}</i>
                                    <i class="icon fa-check-square-o checkall_{{operation.id}} select-pos" ng-click="checkAllOperationDelivery({{operation.id}})" style="width: 19px; margin-left: 96%;"></i>
                                    <i class="icon right-icon fa-square-o checkall_{{operation.id}}" ng-click="uncheckAllOperationDelivery({{operation.id}})" style="width: 19px"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="operation_compo_section_{{operation.id}}" ng-if='operation.operationComponent != ""'>
                        <div class="width-100">
                            <div class="col row">
                                <table width="100%" border="0" cellspacing="0" cellpadding="0" class="delivery-table component_table_{{operation.id}}">
                                    <tr>
                                        <th class="edit-item-title align-center width-3">&nbsp;</th>
                                        <th class="edit-item-title align-center width-10"><i class="fa-calender"></i> <span>Entrega</span></th>
                                        <th class="edit-item-title width-7">Pedido</th>
                                        <th class="edit-item-title width-7">Cliente</th>
                                        <th class="edit-item-title width-30">Descricao</th>
                                        <th class="edit-item-title align-center width-10"><i class="fa-list-ol"></i> <span class="color">Quantidade</span></th>
                                        <th class="edit-item-title align-center width-10"><i class="fa-list-ol"></i> <span class="color">Produzir</span></th>
                                        <th class="edit-item-title align-center width-10"><i class="fa-list-ol"></i> <span class="color">Saldo</span></th>
                                        <th class="edit-item-title align-center width-10"><i class="fa-tachometer"></i> <span class="color">Peso</span></th>
                                        <th class="edit-item-title align-center width-3">&nbsp;</th>
                                    </tr>
                                </table>
                                <div ng-repeat='compo in operation.operationComponent'>
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="delivery-table component_table_{{operation.id}}">
                                        <tbody>
                                            <tr>
                                                <td class="edit-text align-center width-3 td_{{compo.operationid}}_{{compo.bomid}}_{{compo.itemid}}_{{compo.component.id}}" style="font-weight: normal">
                                                    <i class="component_manage_button_{{compo.component.id}} icon left-icon plus-icon fa-plus-square-o" manage-componentchildsection operationid="{{compo.operationid}}" bomid="{{compo.bomid}}" itemid="{{compo.itemid}}" componentid="{{compo.component.id}}" materialid="{{compo.component.material.id}}"></i>
                                                </td>
                                                <td class="edit-info align-center width-10 create-date">{{compo.created | getDate}}</td>
                                                <td class="edit-text width-7" style="font-weight: normal">{{compo.bomnumber}}</td>
                                                <td class="edit-text width-7" style="font-weight: normal">{{compo.bomcustomer}}</td>
                                                <td class="edit-text width-30" style="font-weight: normal">{{compo.component.description}}</td>
                                                <td class="edit-info align-right width-10">{{compo.component.quantity.value}}<span style="margin-left: 5px;">{{compo.component.quantity.unit.symbol}}</span></td>
                                                <td class="edit-info align-right width-10">{{compo.component.produced.value | setDecimal:2}}<span style="margin-left: 5px;">{{compo.component.produced.unit.symbol}}</span></td>
                                                <td class="edit-info align-right width-10">
                                                    <input type="number" id="remaining_{{compo.operationid}}_{{compo.bomid}}_{{compo.itemid}}_{{compo.component.id}}" value="{{compo.component.remaining.value}}" class="saldo" style="margin-bottom: 5px; text-align: right" ng-if="compo.component.remaining.value > 0"  onchange="calculateWeight()">
                                                    <span ng-if="compo.component.remaining.value <= 0">{{compo.component.remaining.value}}<span style="margin-left: 5px;">{{compo.component.remaining.unit.symbol}}</span></span>
                                                </td>
                                                <td class="edit-info align-right width-10"><span class="weight" id="weight_{{compo.operationid}}_{{compo.bomid}}_{{compo.itemid}}_{{compo.component.id}}">{{((compo.component.weight.value/compo.component.quantity.value) * compo.component.remaining.value) | setDecimal:2}}</span><span style="margin-left: 5px;">{{compo.component.weight.unit.symbol}}</span></td>
                                                <td class="edit-text align-center width-3 td_{{compo.operationid}}_{{compo.bomid}}_{{compo.itemid}}_{{compo.component.id}}" style="font-weight: normal">
                                                    <i class="icon plus-icon fa-square-o" select-components operationid="{{compo.operationid}}" bomid="{{compo.bomid}}" itemid="{{compo.itemid}}" componentid="{{compo.component.id}}" materialid="{{compo.component.material.id}}" componentqun="{{compo.component.quantity.value}}" componentpeso="{{compo.component.weight.value}}"  ng-if="compo.component.remaining.value > 0"></i>
                                                    <i class="icon plus-icon fa-ban" operationid="{{compo.operationid}}" bomid="{{compo.bomid}}" itemid="{{compo.itemid}}" componentid="{{compo.component.id}}" materialid="{{compo.component.material.id}}" componentqun="{{compo.component.quantity.value}}" componentpeso="{{compo.component.weight.value}}" ng-if="compo.component.remaining.value <= 0"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div style="margin-left: 3%; margin-top: 1%; width: 97%;" class="component_section_{{compo.component.id}}" ng-if='compo.component.produce != ""'>
                                        <table width="100%" border="0" cellspacing="0" cellpadding="0" class="delivery-table order_table_{{operation.id}}">
                                            <tr>
                                                <th class="edit-item-title align-center width-10"><i class="fa-calender"></i> <span>Entrega</span></th>
                                                <th class="edit-item-title width-67">Descricao</th>
                                                <th class="edit-item-title align-center width-10"><i class="fa-list-ol"></i> <span class="color">Produzir</span></th>
                                                <th class="edit-item-title align-center width-10"><i class="fa-tachometer"></i> <span class="color">Peso</span></th>
                                                <th class="edit-item-title align-center width-3">&nbsp;</th>
                                            </tr>
                                            <tr ng-repeat='prod in compo.component.produce'>
                                                <td class="edit-info align-center width-10 create-date">{{prod.startDate | getDate}}</td>
                                                <td class="edit-text width-67" style="font-weight: normal">{{prod.component.description}}</td>
                                                <td class="edit-info align-right width-10">{{prod.component.produced.value}}<span style="margin-left: 5px;">{{prod.component.produced.unit.symbol}}</span></td>
                                                <td class="edit-info align-right width-10">{{prod.component.weight.value | setDecimal:2}}<span style="margin-left: 5px;">{{prod.component.weight.unit.symbol}}</span></td>
                                                <td class="edit-text align-center width-3 td_{{compo.operationid}}_{{compo.bomid}}_{{compo.itemid}}_{{compo.component.id}}_{{prod.id}}" style="font-weight: normal">
                                                    <i class="icon plus-icon fa-square-o" select-produce operationid="{{compo.operationid}}" bomid="{{compo.bomid}}" itemid="{{compo.itemid}}" componentid="{{compo.component.id}}" materialid="{{compo.component.material.id}}" produceid="{{prod.id}}"></i>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="form_view" style="display: none;">
            <div class="row" ng-repeat="operation in operationData | orderBy : 'id'">
                <div id="item_repeat" class="width-100 create-list">
                    <div class="row">
                        <div class="col">
                            <div class="list">
                                <a class="process-item-list item-icon-left item-icon-right color" style="font-weight: normal">
                                    <i class="operation_manage_button_{{operation.id}} icon left-icon plus-icon fa-plus-square-o" manage-operationsection operationid="{{operation.id}}" style="font-size: 22px">{{operation.name}}</i>
                                    <i class="icon fa-check-square-o checkall_{{operation.id}} select-pos" ng-click="checkAllOperationDelivery({{operation.id}})" style="width: 19px; margin-left: 96%;"></i>
                                    <i class="icon right-icon fa-square-o checkall_{{operation.id}}" ng-click="uncheckAllOperationDelivery({{operation.id}})" style="width: 19px"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="operation_section_{{operation.id}}" ng-if='operation.bom != ""' ng-repeat='bom in operation.bom | orderBy : "id"'>
                        <div class="row" style="padding-bottom: 0; padding-top: 0;">
                            <div class="col">
                                <div class="list">
                                    <a class="process-item-list item-icon-left item-icon-right" style="padding-left: 3%; margin-left: 15px; padding-bottom: 8px; padding-top: 0px;font-weight: normal;height: 35px">
                                        <i class="bom_manage_button_{{operation.id}}_{{bom.id}} icon plus-icon fa-plus-square-o" manage-bomsection operationid="{{operation.id}}" bomid="{{bom.id}}" style="font-size: 20px">{{bom.number}} {{bom.customer}}</i>
                                        <i class="icon fa-check-square-o checkall_{{operation.id}}_{{bom.id}} select-pos" ng-click="checkAllBomDelivery({{operation.id}}, {{bom.id}})" style="width: 19px; margin-left: 96%;"></i>
                                        <i class="icon right-icon fa-square-o checkall_{{operation.id}}_{{bom.id}}" ng-click="uncheckAllBomDelivery({{operation.id}}, {{bom.id}})" style="width: 19px"></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="bom_section_{{operation.id}}_{{bom.id}}" ng-if='bom.item != ""' ng-repeat='item in bom.item |  orderBy : "id"'>
                            <div class="row" style="padding-bottom: 0; padding-top: 0;">
                                <div class="col">
                                    <div class="list">
                                        <a class="process-item-list item-icon-left item-icon-right" style="padding-left: 3%; margin-left: 38px; padding-bottom: 8px; padding-top: 0px;font-weight: normal;height: 30px">
                                            <i class="item_mange_button_{{operation.id}}_{{bom.id}}_{{item.id}} icon plus-icon fa-plus-square-o" manage-itemsection operationid="{{operation.id}}" bomid="{{bom.id}}" itemid="{{item.id}}" style="padding-bottom: 7px;font-size: 18px">ITEM {{item.item}}</i>
                                            <i class="icon right-icon fa-check-square-o checkall_{{operation.id}}_{{bom.id}}_{{item.id}} select-pos" ng-click="checkAllItemDelivery({{operation.id}}, {{bom.id}}, {{item.id}})" style="width: 19px; margin-left: 96%;"></i>
                                            <i class="icon right-icon fa-square-o checkall_{{operation.id}}_{{bom.id}}_{{item.id}}" ng-click="uncheckAllItemDelivery({{operation.id}}, {{bom.id}}, {{item.id}})" style="width: 19px"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="item_section_{{operation.id}}_{{bom.id}}_{{item.id}}" ng-if='item.component != ""' style="display: none">
                                <div class="row">
                                    <div class="col">
                                        <div style="font-size: 16px;margin-left: 3%">{{item.description}}</div>
                                    </div>
                                </div>
                            </div>
                            <div class="edit-item" ng-if='item.component != ""'>
                                <div class="col row">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0" class="delivery-table component_table_{{operation.id}}_{{bom.id}}_{{item.id}}">
                                        <thead>
                                            <tr>
                                                <th class="edit-item-title align-center width-11"><i class="fa-calender"></i> <span>Entrega</span></th>
                                                <th class="edit-item-title width-55">Descricao</th>
                                                <th class="edit-item-title align-center width-10"><i class="fa-list-ol"></i> <span class="color">Quantidade</span></th>
                                                <th class="edit-item-title align-center width-10"><i class="fa-list-ol"></i> <span class="color">Produzir</span></th>
                                                <th class="edit-item-title align-center width-11"><i class="fa-tachometer"></i> <span class="color">Peso</span></th>
                                                <th class="edit-item-title align-center width-3">&nbsp;</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat='component in item.component |  orderBy : "id"'>
                                                <td class="edit-info align-center width-11 create-date">{{bom.created | getDate}}</td>
                                                <td class="edit-text width-55" style="font-weight: normal">{{component.description}}</td>
                                                <td class="edit-info align-right width-10">{{component.quantity.value}}<span style="margin-left: 5px;">{{component.quantity.unit.symbol}}</span></td>
                                                <td class="edit-info align-right width-10">
                                                    <input type="number" id="remaining_{{operation.id}}_{{bom.id}}_{{item.id}}_{{component.id}}" value="{{component.remaining.value}}" class="saldo" style="margin-bottom: 5px; text-align: right" ng-if="component.remaining.value > 0" onchange="calculateWeight()">
                                                    <span ng-if="component.remaining.value <= 0">{{component.remaining.value}}</span>
                                                </td>
                                                <td class="edit-info align-right width-11"><span class="weight" id="weight_{{operation.id}}_{{bom.id}}_{{item.id}}_{{component.id}}">{{component.weight.value | setDecimal:2}}</span><span style="margin-left: 5px;">{{component.weight.unit.symbol}}</span></td>
                                                <td class="edit-text align-center width-3 td_{{operation.id}}_{{bom.id}}_{{item.id}}_{{component.id}}" style="font-weight: normal">
                                                    <i class="icon plus-icon fa-square-o" select-components operationid="{{operation.id}}" bomid="{{bom.id}}" itemid="{{item.id}}" componentid="{{component.id}}" materialid="{{component.material.id}}" componentqun="{{component.quantity.value}}" componentpeso="{{component.weight.value}}"  ng-if="component.remaining.value > 0"></i>
                                                    <i class="icon plus-icon fa-ban" operationid="{{operation.id}}" bomid="{{bom.id}}" itemid="{{item.id}}" componentid="{{component.id}}" materialid="{{component.material.id}}" componentqun="{{component.quantity.value}}" componentpeso="{{component.weight.value}}" ng-if="component.remaining.value <= 0"></i>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="grid_view" class="planning-detail width-100" style="display: none;"  ng-if="gridArr != ''">
            <div class="row manufacture-grid">
                <div class="col-25 scroll-div dataRow">
                    <table class="dataTable">
                        <tr>
                            <th class="monthTitle dataTable-title" style="border-bottom:1px solid #666;"></th>
                        </tr>
                        <tr>
                            <th style="height: 26px; text-align: left; border-right:none; border-bottom:none;">Linha de Produto</th>
                        </tr>
                        <tr ng-repeat="order in gridArr" id="{{BOM.id}}" ng-click="getShippingDetail({{order.id}})" style="cursor: pointer" ng-class-odd="'odd'" ng-class-even="'even'">
                            <td style="border-top:none;" >{{order.name}}</td>
                        </tr>
                        <tr>
                            <td style="border-top:none;  background: #00aba9; border:1px solid #666; height: 36px;" class="ng-binding"></td>
                        </tr>
                    </table>
                </div>
                <div class="col-75 scroll-div mainRow">
                    <table border="1" class="manufactureTable" sortable-func>
                        <tr>
                            <th class="monthTitle" style="line-height: 26px; border-left:1px solid #fff; border-top:1px solid #fff; border-bottom:1px solid #666; " colspan="{{month.days.length}}" ng-repeat="month in monthDays">{{month.name}}</th>
                        </tr>
                        <tr>
                            <th style="line-height: 26px;cursor: pointer" ng-repeat="day in days track by $index" ng-if='viewWeekly == false' class="date-head" data-day='{{day}}'>{{getWeekDayShort(day)}}</th>
                        </tr>
                        <tr ng-repeat="order in gridArr" class="{{order.id}}" ng-if="checkYear(BOM.delivery) <= maxYear" ng-class-odd="'odd'" ng-class-even="'even'">
                            <td ng-repeat="day in days track by $index" id="{{order.id}}" data-day='{{day}}' class='{{day}}' ng-class="(getWeekDay(day) == 'Sunday' || getWeekDay(day) == 'Saturday')? 'holiday':'makeDroppable'" ng-if="BOM.components != ''">
                                <div id="{{day}}" ng-repeat="produce in order.produce" ng-class="getCellColor(produce.startDate,produce.quantity.value)" ng-if="(checkDay(produce.startDate) == getDay(day)) && (checkMonth(produce.startDate) == getMonth(day)) && (checkYear(produce.startDate) == getYear(day))" data-weight='{{produce.quantity.value}}'>
                                    {{produce.quantity.value | setDecimal:1}}
                                </div>
                            </td>
                        </tr>
                        <tr class="totalWeightRow">
                            <td ng-repeat="day in days track by $index" data-date='{{day}}'>
                                &nbsp;
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </ion-content>
</ion-pane>