<div class="loding_div" ng-show="loading">
    <div id="loadingProgressG">
        <div id="loadingProgressG_1" class="loadingProgressG">
        </div>
    </div>
</div>
<ion-nav-view class="view-container">
    <ion-side-menus>
        <ion-side-menu-content class="menu-content pane">
            <ion-nav-bar class="bar-positive nav-bar-container">
                <div class="nav-bar-block" nav-bar="active">
                    <ion-header-bar class="bar-calm">
                        <div class="buttons header-margin">
                            <button class="button fa-bars" menu-toggle="left"></button>
                            <span class="btn-separator"></span>
                            <h4 style="color: #ffffff;margin-top: 5px;">&nbsp;Planejamento de Entrega&nbsp;</h4>
                            <span class="btn-separator"></span>
                            <button ng-click="createPlanning()" class="button fa-plus" ng-if="viewtype != 'grid'"></button>
                            <button class="button fa-check" ng-if="viewtype == 'grid'"></button>
                            <button class="button fa-remove-header" ng-if="viewtype == 'grid'"></button>
                            <button class="button fa-print-header" ng-if="viewtype == 'grid'"></button>
                        </div>
                    </ion-header-bar>
                </div>
            </ion-nav-bar>
            <ion-nav-view name="menuContent" class="view-container">
                <ion-view class="pane" nav-view="active">
                    <ion-content class="padding scroll-content ionic-scroll  has-header">
                        <div class="row bar-calm-top">
                            <div class="col col-50" style="display: none">
                                <div class="button-bar bar-calm">
                                    <a class="button topBtnRadius month" ng-click='monthlyView()' id="monthlyShowBtn">Mensal</a>
                                    <a class="button" ng-click='weeklyView()' id="weeklyShowBtn">Semanal</a>
                                </div>
                            </div>
                            <div class="col col-50 col-offset-50 top-switch-bar">
                                <div class="button-bar bar-calm" style="float: right;width: 140px;">
                                    <a class="button top-switch-btn topBtnRadius fa-component-switch" ng-click="formView()" id="formShowBtn"></a>
                                    <a class="button top-switch-btn fa-th month" ng-click="gridView()" id="gridShowBtn"></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div id="form_view" class="planning-detail width-100">
                                <div class="row">
                                    <div class="col">
                                        <div class="list">
                                            <div class="item item-input-search">
                                                <label class="input-search-wrapper">
                                                    <i class="icon fa-small-search"></i>
                                                    <input type="text" class="input-box" placeholder="search" ng-model="searchText">
                                                </label>
                                            </div>
                                            <i class="icon fa-search search-icon" ng-click="searchTextFind(searchText)"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div ng-repeat="planning in plannings | orderBy : 'id'">
                                            <div class="list-date">
                                                <span class="align-left">{{planning.createdDate}} {{planning.id}} ({{planning.startDate}} a {{planning.endDate}})</span>
                                                <span class="align-right"><i  class="list_manage_button icon plus-icon fa-plus-square-o" data-planningid='{{planning.id}}'></i></span>
                                            </div>
                                            <div class="bom_{{planning.id}}" ng-if='planning.bom != ""'>
                                                <div class="col-90" ng-repeat="bom in planning.bom">
                                                    <div class="list list-inset listing-col">
                                                        <a class="item-list item-icon-right">
                                                            <span class="text-center-middle">
                                                                {{bom.created | getDate}} {{bom.number}} {{bom.customer}}</span>
                                                            <i class="icon fa-arrow-right arrow-right"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="pagination">
                                        <a ng-repeat="n in pageStack" ng-click="goPage(n)">
                                            <span class="page" ng-class="{'active':n == startPage + 1}">{{n}}</span>
                                        </a>
                                        <a class="page fa-arrow-right next-arrow" ng-show='nextButton' ng-click="nextPage(pageStack.length)" ng-if="pageStack.length > 0"></a>
                                    </div>
                                </div>
                            </div>
                            <div id="grid_view" class="planning-detail width-100" style="display: none;">
                                <div class="row planning-col">
                                    <div class="col tableTitle align-right">Hoje : {{today}}</div>
                                </div>
                                <div class="row">
                                    <div class="col-30 scroll-div dataRow">
                                        <table class="dataTable">
                                            <tr>
                                                <th class="monthTitle dataTable-title">Pedidos</th>
                                            </tr>
                                            <tr>
                                                <th style="height: 30px;">Linha de Produto</th>
                                            </tr>
                                            <tr ng-repeat="BOM in finalArr" id="{{BOM.id}}" ng-click="getShippingDetail({{BOM.id}})" style="cursor: pointer" ng-if="checkYear(BOM.delivery) <= maxYear">
                                                <td>{{BOM.customer}}</td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-70 scroll-div mainRow" style="width: 78%">
                                        <!--                                        <table border="1" class="gridTable" sortable-func ng-if='orderData != "" && viewtype == "grid"'>
                                                                                    <tr>
                                                                                        <th class="monthTitle" colspan="{{month.days.length}}" ng-repeat="month in monthDays">{{month.name}}</th>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <th ng-repeat="day in days track by $index" ng-if='viewWeekly == false'>{{getWeekDayShort(day)}}</th>
                                                                                    </tr>
                                                                                    <tr>
                                                                                        <td ng-repeat="day in days track by $index" data-day='{{day}}' class='{{day}} maintable-td'  ng-class="(getWeekDay(day) == 'Sunday' || getWeekDay(day) == 'Saturday')? 'holiday':'makeDroppable'">
                                                                                            <div class="cutomer-name dragDiv green" ng-repeat="order in finalArr" data-orderid="{{order.id}}" data-olddate="{{order.delivery}}" ng-if="(order.status.code == 1) && (checkDay(order.delivery) == getDay(day)) && (checkMonth(order.delivery) == getMonth(day)) && (checkYear(order.delivery) == getYear(day))">
                                                                                                <p style="color: #000">{{order.number}}</p>
                                                                                                <p class="grid-name" style="color: #000">{{order.customer}}</p>
                                                                                            </div>
                                                                                            <div class="cutomer-name dragDiv yellow" ng-repeat="order in finalArr" data-orderid="{{order.id}}" data-olddate="{{order.delivery}}" ng-if="(order.status.code == 2) && (checkDay(order.delivery) == getDay(day)) && (checkMonth(order.delivery) == getMonth(day)) && (checkYear(order.delivery) == getYear(day))">
                                                                                                <p style="color: #000">{{order.number}}</p>
                                                                                                <p class="grid-name" style="color: #000">{{order.customer}}</p>
                                                                                            </div>
                                                                                            <div class="cutomer-name dragDiv red" ng-repeat="order in finalArr" data-orderid="{{order.id}}" data-olddate="{{order.delivery}}" ng-if="(order.status.code == 3) && (checkDay(order.delivery) == getDay(day)) && (checkMonth(order.delivery) == getMonth(day)) && (checkYear(order.delivery) == getYear(day))">
                                                                                                <p style="color: #000">{{order.number}}</p>
                                                                                                <p class="grid-name" style="color: #000">{{order.customer}}</p>
                                                                                            </div>
                                                                                        </td>
                                                                                    </tr>
                                                                                    <tr class="totalWeightRow">
                                                                                        <td ng-repeat="day in days track by $index" data-date='{{day}}'>
                                                                                            &nbsp;
                                                                                        </td>
                                                                                    </tr>
                                                                                </table>-->
                                        <table border="1" class="planningTable" sortable-func>
                                            <tr>
                                                <th class="monthTitle" colspan="{{month.days.length}}" ng-repeat="month in monthDays">{{month.name}}</th>
                                            </tr>
                                            <tr>
                                                <th ng-repeat="day in days track by $index" ng-if='viewWeekly == false'>{{getWeekDayShort(day)}}</th>
                                            </tr>
                                            <tr ng-repeat="BOM in finalArr" class="{{BOM.id}}" ng-if="checkYear(BOM.delivery) <= maxYear">
                                                <td ng-repeat="day in days track by $index" id="{{BOM.id}}" data-day='{{day}}' class='{{day}}' ng-class="(getWeekDay(day) == 'Sunday' || getWeekDay(day) == 'Saturday')? 'holiday':'makeDroppable'" ng-if="BOM.components != ''">
                                                    <!--                                                    <div class="dragDiv" ng-repeat="del in BOM.components" id="{{day}}" data-itemid="{{del.itemid}}" data-comdel="{{del.comdel}}" ng-class="getCellColor(del.deliverydate,del.deliveryweight)" ng-if="(checkDay(del.deliverydate) == getDay(day)) && (checkMonth(del.deliverydate) == getMonth(day)) && (checkYear(del.deliverydate) == getYear(day))" data-weight='{{del.deliveryweight}}'>
                                                                                                            {{showWeight(del.deliveryweight)}}
                                                                                                        </div>-->Ni
                                                </td>
                                                <td ng-repeat="day in days track by $index" id="{{BOM.id}}" data-day='{{day}}' class='{{day}}' ng-class="(getWeekDay(day) == 'Sunday' || getWeekDay(day) == 'Saturday')? 'holiday':'makeDroppable'" ng-if="BOM.components == ''" style="width: 50px;height: 30px;">
                                                    N
                                                </td>
                                            </tr>
                                            <tr class="totalWeightRow">
                                                <td ng-repeat="day in days track by $index" data-date='{{day}}'>
                                                    &nbsp;
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                                <!--                                <div class="row  width-30" style="height: 740px;">

                                                                </div>
                                                                <div class="row  width-70">

                                                                </div>-->
                            </div>
                        </div>
                    </ion-content>
                </ion-view>
            </ion-nav-view>
        </ion-side-menu-content>
        <ion-side-menu side="left" class="sidemenu-bg">
            <ion-content class="scroll-content ionic-scroll">
                <div class="scroll" leftside-menu style="padding: 0px !important">
                </div>
                <div class="scroll-bar scroll-bar-v">
                    <div class="scroll-bar-indicator scroll-bar-fade-out"></div>
                </div>
            </ion-content>
        </ion-side-menu>
    </ion-side-menus>
</ion-nav-view>