<div class="loding_div" ng-show="loading">
    <div id="loadingProgressG">
        <div id="loadingProgressG_1" class="loadingProgressG">
        </div>
    </div>
</div>
<ion-nav-view class="view-container">
    <ion-side-menus>
        <ion-side-menu-content class="menu-content pane">
            <ion-nav-bar class="bar-positive nav-bar-container">
                <div class="nav-bar-block" nav-bar="active">
                    <ion-header-bar class="bar-calm">
                        <div class="buttons header-margin">
                            <button class="button fa-bars" menu-toggle="left"></button>
                            <span class="btn-separator"></span>
                            <h4 style="color: #ffffff;margin-top: 5px;">&nbsp;Planejamento de Entrega&nbsp;</h4>
                            <span class="btn-separator"></span>
                            <button ng-click="createPlanning()" class="button fa-plus" ng-if="viewtype != 'grid'"></button>
                            <button class="button fa-check" ng-if="viewtype == 'grid'"></button>
                            <button class="button fa-remove-header" ng-if="viewtype == 'grid'"></button>
                            <button class="button fa-print-header" ng-if="viewtype == 'grid'"></button>
                        </div>
                    </ion-header-bar>
                </div>
            </ion-nav-bar>
            <ion-nav-view name="menuContent" class="view-container">
                <ion-view class="pane" nav-view="active">
                    <ion-content class="padding scroll-content ionic-scroll  has-header">
                        <div class="row bar-calm-top">
                            <div class="col col-50 col-offset-50 top-switch-bar"  ng-if="viewtype == 'form'">
                                <div class="button-bar bar-calm" style="float: right;width: 140px;">
                                    <a class="button top-switch-btn topBtnRadius fa-list-alt" ng-click="formView()" id="formShowBtn"></a>
                                    <a class="button top-switch-btn fa-th month" ng-click="gridView()" id="gridShowBtn"></a>
                                </div>
                            </div>
                            <div class="col col-50"  ng-if="viewtype == 'grid'">
                                <button type="button" class="button button-calm prev-btn" style="float: left"> <i class="icon fa-arrow-left-grid"></i> </button>
                                <div class="grid-date-sel">
                                    <input type="text" ng-model="selectDate" class="grid-sel-date" grid-date id="select_date">
                                <i class="icon fa-calender-grid"></i>
                                </div>
                                <button type="button" class="button button-calm next-btn" style="float: left"> <i class="icon fa-arrow-right-grid"></i> </button>
                            </div>
                            <div class="col col-50 top-switch-bar"  ng-if="viewtype == 'grid'">
                                <div class="button-bar bar-calm" style="float: right;width: 140px;">
                                    <a class="button top-switch-btn topBtnRadius fa-list-alt month" ng-click="formView()" id="formShowBtn"></a>
                                    <a class="button top-switch-btn fa-th" ng-click="gridView()" id="gridShowBtn"></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div id="form_view" class="planning-detail width-100">
                                <div class="row">
                                    <div class="col">
                                        <div class="list">
                                            <div class="item item-input-search">
                                                <label class="input-search-wrapper">
                                                    <i class="icon fa-small-search"></i>
                                                    <input type="text" class="input-box" placeholder="search" ng-model="searchText">
                                                </label>
                                            </div>
                                            <i class="icon fa-search search-icon" ng-click="searchTextFind(searchText)"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div ng-repeat="planning in plannings | orderBy : 'id'">
                                            <div class="list-date">
                                                <span class="align-left" style="font-weight: normal" ng-click="goEdit({{planning.id}})">{{planning.createdDate}} {{planning.id}} ({{planning.startDate}} a {{planning.endDate}})</span>
                                                <span class="align-right"><i  class="list_manage_button icon plus-icon fa-plus-square-o" data-planningid='{{planning.id}}'></i></span>
                                            </div>
                                            <div class="bom_{{planning.id}}" ng-if='planning.bom != ""'>
                                                <div class="col-90" ng-repeat="bom in planning.bom">
                                                    <div class="list list-inset listing-col">
                                                        <a class="item-list item-icon-right">
                                                            <span class="text-center-middle">
                                                                {{bom.created | getDate}} {{bom.number}} {{bom.customer}}</span>
                                                            <i class="icon fa-arrow-right arrow-right"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="pagination">
                                        <a ng-repeat="n in pageStack" ng-click="goPage(n)">
                                            <span class="page" ng-class="{'active':n == startPage + 1}">{{n}}</span>
                                        </a>
                                        <a class="page fa-arrow-right next-arrow" ng-show='nextButton' ng-click="nextPage(pageStack.length)" ng-if="pageStack.length > 0"></a>
                                    </div>
                                </div>
                            </div>
                            <div id="grid_view" class="planning-detail width-100" style="display: none;" ng-controller='ManufacturePlanningGridCtrl'>
                                <div class="row manufacture-grid" ng-if="gridArr != ''">

                                    <div class="col-25 scroll-div dataRow">
                                        <table class="dataTable">
                                            <tr>
                                                <th class="monthTitle dataTable-title" style="border-bottom:1px solid #666;"></th>
                                            </tr>
                                            <tr>
                                                <th style="height: 26px; text-align: left; border-right:none; border-bottom:none;">Linha de Produto</th>
                                            </tr>
                                            <tr ng-repeat="order in gridArr" id="{{BOM.id}}" ng-click="getShippingDetail({{order.id}})" style="cursor: pointer" ng-class-odd="'odd'" ng-class-even="'even'">
                                                <td style="border-top:none;" >{{order.name}}</td>
                                            </tr>
                                            <tr>
                                                <td style="border-top:none;  background: #00aba9; border:1px solid #666; height: 36px;" class="ng-binding"></td>
                                            </tr>
                                        </table>
                                    </div>
                                    <div class="col-75 scroll-div mainRow">
                                        <table border="1" class="manufactureTable" sortable-func>
                                            <tr>
                                                <th class="monthTitle" style="line-height: 26px; border-left:1px solid #fff; border-top:1px solid #fff; border-bottom:1px solid #666; " colspan="{{month.days.length}}" ng-repeat="month in monthDays">{{month.name}}</th>
                                            </tr>
                                            <tr>
                                                <th style="line-height: 26px;cursor: pointer" ng-repeat="day in days track by $index" ng-if='viewWeekly == false' class="date-head" data-day='{{day}}'>{{getWeekDayShort(day)}}</th>
                                            </tr>
                                            <tr ng-repeat="order in gridArr" class="{{order.id}}" ng-if="checkYear(BOM.delivery) <= maxYear" ng-class-odd="'odd'" ng-class-even="'even'">
                                                <td ng-repeat="day in days track by $index" id="{{order.id}}" data-day='{{day}}' class='{{day}}' ng-class="(getWeekDay(day) == 'Sunday' || getWeekDay(day) == 'Saturday')? 'holiday':'makeDroppable'" ng-if="BOM.components != ''">
                                                    <div id="{{day}}" ng-repeat="produce in order.produce" ng-class="getCellColor(produce.startDate,produce.quantity.value)" ng-if="(checkDay(produce.startDate) == getDay(day)) && (checkMonth(produce.startDate) == getMonth(day)) && (checkYear(produce.startDate) == getYear(day))" data-weight='{{produce.quantity.value}}'>
                                                        {{produce.quantity.value | setDecimal:1}}
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr class="totalWeightRow">
                                                <td ng-repeat="day in days track by $index" data-date='{{day}}'>
                                                    &nbsp;
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ion-content>
                </ion-view>
            </ion-nav-view>
        </ion-side-menu-content>
        <ion-side-menu side="left" class="sidemenu-bg">
            <ion-content class="scroll-content ionic-scroll">
                <div class="scroll" leftside-menu style="padding: 0px !important">
                </div>
                <div class="scroll-bar scroll-bar-v">
                    <div class="scroll-bar-indicator scroll-bar-fade-out"></div>
                </div>
            </ion-content>
        </ion-side-menu>
    </ion-side-menus>
</ion-nav-view>