<div class="loding_div" ng-show="loading">
    <div id="loadingProgressG">
        <div id="loadingProgressG_1" class="loadingProgressG">
        </div>
    </div>
</div>
<ion-pane>
    <ion-header-bar class="bar-calm">
        <div class="buttons header-margin">
            <button type="button" class="button fa-arrow-left" ng-click="goBack()"></button>
            <span class="btn-separator"></span>
            <span ng-if="bomData.checked == ''">
                <button type="button" class="button fa-square-o-header" ng-click='makeChecked()'></button>
            </span>
            <span ng-if="bomData.checked != ''">
                <button type="button" class="button fa-check-square-o-header" ng-click='makeUnchecked()'></button>
            </span>
            <button class="button fa-pencil-header" ng-click="edit()" ></button>
            <button class="button fa-remove-header" ng-click="removeBom()"></button>
            <a ng-click="reportBOM()"  target="_blank">
                <button type="button" class="button fa-print-header"></button>
            </a>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="view-content">
            <div class="row">
                <div class="col">
                    <div class="list list-row col-75">
                        <span class="input-label text-bold">Pedido</span>
                        <label class="item item-input plain-text">
                            {{bomData.number}}
                        </label>
                    </div>
                    <div class="list list-row">
                        <span class="input-label text-bold">Cliente</span>
                        <label class="item item-input" >
                            {{bomData.customer}}
                        </label>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col col-50">
                    <div class="list list-row">
                        <span class="input-label text-bold">Representante</span>
                        <label class="item item-input" >
                            {{bomData.representative}}
                        </label>
                    </div>
                </div>
                <div class="col col-50">
                    <div class="list list-row">
                        <span class="input-label text-bold">Acabamento</span>
                        <label class="item item-input" >
                            {{bomData.finish}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-25">
                    <div class="list list-row">
                        <span class="input-label text-bold">Orcamento</span>
                        <label class="item item-input" >
                            {{bomData.quotation}}
                        </label>
                    </div>
                </div>
                <div class="col col-25">
                    <div class="list list-row">
                        <span class="input-label text-bold">Projeto</span>
                        <label class="item item-input" >
                            {{bomData.project}}
                        </label>
                    </div>
                </div>
                <div class="col col-25">
                    <div class="list list-row">
                        <span class="input-label text-bold">Data Pedido</span>
                        <label class="item item-input" >
                            {{bomData.created}}
                        </label>
                    </div>
                </div>
                <div class="col col-25">
                    <div class="list list-row">
                        <span class="input-label text-bold">Data Entrega </span>
                        <label class="item item-input" >
                            {{bomData.delivery}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="list">
                        <a class="process-item-list item-icon-left item-icon-right">
                            <i class="icon left-icon fa-list"></i>
                            Itens
                        </a>
                    </div>
                </div>
            </div>
            <div id="item_repeat" class="desktop-view" ng-repeat='data in bomData.items'>
                <div class="row" style="margin-top:-15px;">
                    <div class="col">
                        <div class="list"> <a class="process-item-list item-icon-right " style="padding-left:0px;" ng-click='updateItem(data.id)'>ITEM {{data.item}}  </a> </div>
                    </div>
                </div>
                <div class="edit-item">
                    <div class="col row">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td colspan="6" style="padding-left:30px; padding-bottom:10px; font-size:16px;">{{data.description}}</td>
                                <td>&nbsp;</td>
                            </tr>
                            <tr>
                                <td class="edit-item-title" style="text-align: center"><i class="fa-list-ol"></i> <span>Quantidade</span></td>
                                <td class="edit-item-title"> Descricao</td>
                                <td class="edit-item-title"><i class="fa-pencil"></i> <span>Cor</span></td>
                                <td class="edit-item-title"><i class="fa-tachometer"></i> <span>Peso</span></td>
                                <td class="edit-item-title"><i class="fa-tachometer"></i> <span>Peso</span></td>
                                <td width="3%" class="edit-item-title">&nbsp;</td>
                            </tr>
                            <tr ng-repeat='dataPart in data.component'>
                                <td class="edit-info" style="text-align: center">{{dataPart.quantity.value}} {{dataPart.quantity.unit.symbol}}</td>
                                <td class="edit-text">{{dataPart.material.description}}</td>
                                <td class="edit-text">{{dataPart.color.code}}</td>
                                <td class="edit-info" style="text-align: right">{{ ((dataPart.quantity.value > 0 && dataPart.weight.value > 0) ? (dataPart.weight.value / dataPart.quantity.value) : 0 ) | setDecimal:3}} {{dataPart.weight.unit.symbol}}</td>
                                <td class="edit-info" style="text-align: right">{{dataPart.weight.value | setDecimal:2}} {{dataPart.weight.unit.symbol}}</td>
                                <td class="edit-text" ng-if="bomData.checked != ''"><i class="icon plus-icon fa-check-square-o"></i></td>
                                <td class="edit-text" ng-if="bomData.checked == ''"><i class="icon plus-icon fa-square-o" toggle-class></i></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div id="item_repeat" class="mobile-view" ng-repeat='data in bomData.items'>
                <div class="row" style="margin-top:-15px;">
                    <div class="col">
                        <div class="list"> <a class="process-item-list item-icon-right " style="padding-left:0px;" ng-click='updateItem(data.id)'>ITEM {{data.item}}</a></div>
                    </div>
                </div>
                <div class="col" ng-repeat='dataPart in data.component'>
                    <div class="components-col">
                        <div class="components-title ">
                            <h4>{{dataPart.material.description}}
                                <div class="edit-text" ng-if="bomData.checked != ''"><i class="icon plus-icon fa-check-square-o" style="float: right;left: 42px;position: relative;top: -31px;" ></i></div>
                                <div class="edit-text" ng-if="bomData.checked == ''"><i class="icon plus-icon fa-square-o" style="float: right;left: 42px;position: relative;top: -31px;" toggle-class></i></div>
                            </h4>
                            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                                <tbody><tr>
                                        <td width="50%"><span>{{dataPart.material.code}}</span></td>
                                        <td><i class="fa fa-pencil"></i></td>
                                        <td align="right">{{dataPart.color.code}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <table width="100%" cellspacing="0" cellpadding="0" border="0">
                            <tbody><tr>
                                    <td width="25%"><i class="fa fa-arrows-h"></i></td>
                                    <td width="25%" valign="top">{{dataPart.length.value}} {{dataPart.length.unit.symbol}}</td>
                                    <td width="25%" valign="top"><i class="fa fa-list-ol"></i></td>
                                    <td valign="top" align="right">{{dataPart.quantity.value}} {{dataPart.quantity.unit.symbol}}</td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-arrows-v"></i></td>
                                    <td valign="top">{{dataPart.height.value}}  {{dataPart.height.unit.symbol}}</td>
                                    <td valign="top"><i class="fa fa-tachometer"></i></td>
                                    <td valign="top" align="right">{{ ((dataPart.quantity.value > 0 && dataPart.weight.value > 0) ? (dataPart.weight.value / dataPart.quantity.value) : 0 ) | setDecimal:3}} {{dataPart.weight.unit.symbol}}</td>
                                </tr>
                                <tr>
                                    <td><i class="fa fa-expand"></i></td>
                                    <td valign="top">{{dataPart.width.value}} {{dataPart.width.unit.symbol}}</td>
                                    <td valign="top"><i class="fa fa-tachometer"></i></td>
                                    <td valign="top" align="right">{{dataPart.weight.value | setDecimal:2}} {{dataPart.weight.unit.symbol}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-pane>