<div class="modal">
    <form name="historyForm" novalidate ng-submit="submitHistoryForm(historyForm.$valid)">
        <ion-header-bar class="bar-calm">
            <div class="buttons header-margin">
                <button type="button" class="button fa-arrow-left" ng-click="historyModalHide()"></button>
                <span class="btn-separator"></span>
                <h4 class="mf-page-titles">&nbsp;Histórico&nbsp;</h4>
                <span class="btn-separator"></span>
                <button class="button fa-check" ng-click="submitted=true" ></button>
            </div>
        </ion-header-bar>
        <ion-content>
            <div class="row">
                <div class="col-50">
                    <div class="list list-row">
                        <span class="input-label text-bold">Data Entrega</span>
                        <label class="item item-input input-box-extra">
                            <input type="text" name="date" ng-model="historyData.date" required ng-click="showdate=false">
                            <i class="icon ion-ios7-search fa-calender" style="margin-right: 10px;"></i>
                        </label>
                        <label class="extra-error" ng-show="submitted && historyForm.date.$error.required">Data Entrega field is required.</label>
                    </div>
                    <div history-date ng-hide="showdate"></div>
                </div>
                <div class="col-50">
                    <div class="list list-row">
                        <span class="input-label text-bold">Status</span>
                        <label class="item item-input input-box-extra">
                            <input type="text" name="description" ng-model="historyData.statusDescription" required>
                        </label>
                        <i class="icon ion-ios7-search fa-md-search extra-search" ng-click="openStatusListModal()"></i>
                        <label class="extra-error" ng-show="submitted && historyForm.description.$error.required">Status field is required.</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="list list-row">
                        <span class="input-label text-bold"><i class="fa fa-book"></i> Historico</span>
                        <textarea name="comment" ng-model="historyData.comment" class="textarea-extra" required></textarea>
                        <label class="extra-error" ng-show="submitted && historyForm.comment.$error.required">Historico field is required.</label>
                    </div>
                </div>
            </div>
            <div class="view-content">
                <div class="row">
                    <div class="col" style="border-bottom: 1px solid #cccccc">
                        <div class="list list-row">
                            <span class="input-label text-bold">Pedido</span>
                            <label class="item item-input plain-text">
                                {{orderData.number}}
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="border-bottom: 1px solid #cccccc">
                        <div class="list list-row">
                            <span class="input-label text-bold">Cliente</span>
                            <label class="item item-input" >
                                {{orderData.customer}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </ion-content>
    </form>
</div>