<div class="modal">
    <form name="joinComponentForm" novalidate ng-submit="submitJoinComponent(joinComponentForm.$valid)">
        <ion-header-bar class="bar-calm">
            <div class="buttons header-margin">
                <button type="button" class="button fa-arrow-left" ng-click="joinDateModalHide()"></button>
                <span class="btn-separator"></span>
                <h4 class="mf-page-titles">&nbsp;{{joinData.chnDateCode}}&nbsp;</h4>
                <span class="btn-separator"></span>
                <button class="button fa-check" ng-click="submitted=true" ></button>
            </div>
        </ion-header-bar>
        <ion-content>
            <div class="view-content">
                <div class="row">
                    <div class="col">
                        <div class="list list-row">
                            <span class="input-label text-bold">Codigo</span>
                            <label class="item item-input plain-text">
                                {{joinData.chnDateCode}}
                            </label>
                        </div>
                        <div class="list list-row">
                            <span class="input-label text-bold">Descricao</span>
                            <label class="item item-input" >
                                {{joinData.chnDateDesc}}
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="list list-row">
                        <span class="input-label text-bold">Data Entrega</span>
                        <label class="item item-input input-box-extra">
                            <input type="text" name="delivery" ng-model="joinData.delivery" required ng-click="showdate=false">
                            <i class="icon ion-ios7-search fa-calender" style="margin-right: 10px;"></i>
                        </label>
                        <label class="extra-error" ng-show="submitted && joinComponentForm.delivery.$error.required">Data Entrega é obrigatório.</label>
                    </div>
                    <div join-date-change ng-hide="showdate"></div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="list list-row">
                        <span class="input-label text-bold"><i class="fa fa-list-ol"></i> Quantidade Total</span>
                        <label class="item item-input input-box-extra">
                            <input type="text" name="chnDateTotalQuantity" ng-model="joinData.chnDateTotalQuantity" readonly="readonly"  class="unit-input">
                        </label>
                        <span class="unit-label">{{joinData.chnDateTotalQuantityUnit}}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="list list-row">
                        <span class="input-label text-bold"><i class="fa fa-tachometer"></i> Peso Total</span>
                        <label class="item item-input input-box-extra">
                            <input type="text" name="pesoTotal" ng-model="joinData.pesoTotal" readonly="readonly"  class="unit-input">
                        </label>
                        <span class="unit-label">{{joinData.chnDateTotalQuantityUnit}}</span>
                    </div>
                </div>
            </div>
        </ion-content>
    </form>
</div>