<div class="modal">
    <ion-header-bar class="bar-calm">
        <div class="buttons header-margin">
            <button type="button" class="button fa-arrow-left" ng-click="goToCalender()"></button>
            <span class="btn-separator"></span>
            <button type="button" class="button fa-link-header" ng-click="joinDate()"></button>
            <button type="button" class="button fa-unlink-header" ng-click="divideDate()"></button>
            <!--            <span ng-if="orderData.checked != ''">
                            <button type="button" class="button fa-check-square-o-header" ng-click='makeUnchecked()'></button>
                        </span>
                        <button class="button fa-pencil-header" ng-click="edit()" ></button>
                        <button class="button fa-remove-header" ng-click="removeBom()"></button>
                        <a href="http://data.altamira.com.br/data-rest-0.7.0-SNAPSHOT/manufacturing-report-0.4.0-SNAPSHOT/report/manufacturing/bom/{{bomId}}/checklist" target="_blank">
                            <button type="button" class="button fa-print-header"></button>
                        </a>-->
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="view-content">
            <div class="row">
                <div class="col">
                    <div class="list list-row col-75">
                        <span class="input-label text-bold">Pedido</span>
                        <label class="item item-input plain-text">
                            {{orderData.number}}
                        </label>
                    </div>
                    <div class="list list-row">
                        <span class="input-label text-bold">Cliente</span>
                        <label class="item item-input" >
                            {{orderData.customer}}
                        </label>
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col col-50">
                    <div class="list list-row">
                        <span class="input-label text-bold">Representante</span>
                        <label class="item item-input" >
                            {{orderData.representative}}
                        </label>
                    </div>
                </div>
                <div class="col col-50">
                    <div class="list list-row">
                        <span class="input-label text-bold">Acabamento</span>
                        <label class="item item-input" >
                            {{orderData.finish}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col col-25">
                    <div class="list list-row">
                        <span class="input-label text-bold">Orcamento</span>
                        <label class="item item-input" >
                            {{orderData.quotation}}
                        </label>
                    </div>
                </div>
                <div class="col col-25">
                    <div class="list list-row">
                        <span class="input-label text-bold">Projeto</span>
                        <label class="item item-input" >
                            {{orderData.project}}
                        </label>
                    </div>
                </div>
                <div class="col col-25">
                    <div class="list list-row">
                        <span class="input-label text-bold">Data Pedido</span>
                        <label class="item item-input" >
                            {{orderData.created | getDate}}
                        </label>
                    </div>
                </div>
                <div class="col col-25">
                    <div class="list list-row">
                        <span class="input-label text-bold">Data Entrega </span>
                        <label class="item item-input" >
                            {{orderData.delivery | getDate}}
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="list">
                        <a class="process-item-list item-icon-left item-icon-right">
                            <i class="icon left-icon fa-list"></i>
                            Itens
                        </a>
                    </div>
                </div>
            </div>
            <!--            <div id="item_repeat" ng-repeat='data in orderData.item'>
                            <div class="row" style="margin-top:-15px;">
                                <div class="col">
                                    <div class="list"> <a class="process-item-list item-icon-right " style="padding-left:0px;">ITEM {{data.item}}  </a> </div>
                                </div>
                            </div>
                            <div class="edit-item">
                                <div class="col row">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                            <td colspan="7" style="padding-left:30px; padding-bottom:10px; font-size:16px;">{{data.description}}</td>
                                        </tr>
                                        <tr>
                                            <td class="edit-item-title" style="text-align: center;width: 10%;"><i class="fa-calender"></i> <span>Entrega</span></td>
                                            <td class="edit-item-title" style="text-align: center;width: 11%;"><i class="fa-list-ol"></i> <span>Quantidade</span></td>
                                            <td class="edit-item-title" style="width: 50%;"> Descricao</td>
                                            <td class="edit-item-title" style="text-align: center;width: 9%;"><i class="fa-pencil"></i> <span>Cor</span></td>
                                            <td class="edit-item-title" style="text-align: center;width: 8%;"><i class="fa-tachometer"></i> <span>Peso</span></td>
                                            <td class="edit-item-title" style="text-align: center;width: 9%;"><i class="fa-tachometer"></i> <span>Peso</span></td>
                                            <td class="edit-item-title" style="width: 3%;">&nbsp;</td>
                                        </tr>
                                        <tr ng-repeat='dataPart in data.component'>
                                            <td colspan="7">
                                                <table style="width: 100%">
                                                    <tr ng-repeat='component in dataPart.delivery' ng-if="checkForViewDelivery(component.delivery) == true">
                                                    <tr ng-repeat='component in dataPart.delivery'>
                                                        <td class="edit-info" style="text-align: center;width: 10%;">{{ component.delivery | getDate }}</td>
                                                        <td class="edit-info" style="text-align: center;width: 11%;">{{component.quantity.value}} {{component.quantity.unit.symbol}}</td>
                                                        <td class="edit-text" ng-click='updatePart(orderData.id,data.id,dataPart.id,component.id)'  style="cursor: pointer;width: 50%;">{{dataPart.material.description}} - {{data.id}} - {{dataPart.id}} - {{dataPart.material.id}} - {{component.id}}</td>
                                                        <td class="edit-text" ng-click='updatePart(orderData.id,data.id,dataPart.id,component.id)'  style="cursor: pointer;width: 50%;">{{dataPart.material.description}}</td>
                                                        <td class="edit-text" style="width: 9%;">{{dataPart.color.code}}</td>
                                                        <td class="edit-info" style="text-align: right;width: 8%;">{{dataPart.weight.value | setDecimal:2}} {{dataPart.weight.unit.symbol}}</td>
                                                        <td class="edit-info" style="text-align: right;width: 9%;">{{dataPart.weight.value * component.quantity.value | setDecimal:3}} {{dataPart.weight.unit.symbol}}</td>
                                                        <td class="edit-text" style="width: 3%;">
                                                            <i class="icon plus-icon fa-square-o" select-delivery dataitem="{{data.id}}" datapart="{{dataPart.id}}" datamaterial="{{dataPart.material.id}}" datadelivery="{{component.id}}"></i>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                        </div>-->
            <div class="row" ng-repeat='data in finalList'>
                <div id="item_repeat" class="width-100">
                    <div class="row" style="margin-top:-15px;">
                        <div class="col">
                            <div class="list"> <a class="process-item-list item-icon-right " style="padding-left:0px;">ITEM {{data.item}}  </a> </div>
                        </div>
                    </div>
                    <div class="edit-item">
                        <div class="col row">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                <tr>
                                    <td colspan="9" class="data-description">{{data.description}}</td>
                                </tr>
                                <tr>
                                    <td class="edit-item-title align-center width-9"><i class="fa-calender"></i> <span>Entrega</span></td>
                                    <td class="edit-item-title align-center width-8"><i class="fa-list-ol"></i> <span>Quantidade</span></td>
                                    <td class="edit-item-title align-center width-8"><i class="fa-list-ol"></i> <span>Entregue</span></td>
                                    <td class="edit-item-title align-center width-8"><i class="fa-list-ol"></i> <span>Restante</span></td>
                                    <td class="edit-item-title width-40"> Descricao</td>
                                    <td class="edit-item-title align-center width-10"><i class="fa-pencil"></i> <span>Cor</span></td>
                                    <td class="edit-item-title align-center width-7"><i class="fa-tachometer"></i> <span>Peso</span></td>
                                    <td class="edit-item-title align-center width-7"><i class="fa-tachometer"></i> <span>Peso</span></td>
                                    <td class="edit-item-title align-center width-3">&nbsp;</td>
                                </tr>
                                <tr ng-repeat='component in data.delivery' id="{{component.delivery.id}}" data-itemId="{{data.id}}" ng-if="checkForViewDelivery(component.delivery.delivery) == true">
                                    <td class="edit-info align-center width-9">{{ component.delivery.delivery | getDate }}</td>
                                    <td class="edit-info align-right width-8">{{component.delivery.quantity.value}} {{component.delivery.quantity.unit.symbol}}</td>
                                    <td class="edit-info align-right width-8">{{component.delivery.delivered.value}} {{component.delivery.quantity.unit.symbol}}</td>
                                    <td class="edit-info align-right width-8">{{component.delivery.remaining.value}} {{component.delivery.quantity.unit.symbol}}</td>
                                    <td class="edit-text width-40" ng-click='updatePart(orderData.id,data.id,component.componentId,component.delivery.id)'  style="cursor: pointer;">{{component.description}}</td>
                                    <td class="edit-text align-center width-10">{{component.color}}</td>
                                    <td class="edit-info align-right width-7">{{component.weight | setDecimal:2}} {{component.weightType}}</td>
                                    <td class="edit-info align-right width-7">{{component.weight * component.delivery.quantity.value | setDecimal:3}} {{component.weightType}}</td>
                                    <td class="edit-text align-center width-3">
                                        <i class="icon plus-icon fa-square-o" select-delivery dataitem="{{data.id}}" datapart="{{component.componentId}}" datamaterial="{{component.materialId}}" datadelivery="{{component.delivery.id}}"></i>
                                    </td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</div>