<div class="loding_div" ng-show="loading">
    <div id="loadingProgressG">
        <div id="loadingProgressG_1" class="loadingProgressG">
        </div>
    </div>
</div>
<ion-pane>
    <form name="componentForm" novalidate ng-submit="submiComponentForm(componentForm.$valid)">
        <ion-header-bar class="bar-calm">
            <div class="buttons header-margin">
                <button class="button fa-arrow-left" ng-click="goBack()"></button>
                <span ng-if="action != 'create'">
                    <span class="btn-separator"></span>
                    <h4 class="mf-page-titles" ng-bind='componentData.code'></h4>
                    <span class="btn-separator"></span>
                </span>
                <div ng-if="action == 'create'">
                    <span class="btn-separator"></span>
                </div>
                <button class="button fa-check" ng-click="submitted=true" ></button>
                <span ng-if="action != 'create'">
                    <button class="button fa-remove-header" ng-click="removeComponent()" ></button>
                </span>
            </div>
        </ion-header-bar>
        <ion-content>
            <div class="row">
                <div class="col listing-operation">
                    <div class="list list-row">
                        <div href="#" class="item operation-item item-icon-left item-icon-right">
                            <span class="consumo">C</span>
                            Consume
                        </div>
                    </div>
                </div>
            </div>
            <input type="text" name="version" ng-model='componentData.version' ng-hide='true'>
            <div class="row">
                <div class="col">
                    <div class="list list-row">
                        <span class="input-label text-bold">Codigo</span>
                        <label class="item item-input input-box-extra">
                            <input type="text" name="code" ng-model="componentData.code" required ng-minlength='10'>
                        </label>
                        <label class="extra-error" ng-show="submitted && componentForm.code.$error.required">Codigo field is required.</label>
                        <label class="extra-error" ng-show="submitted && componentForm.code.$error.minlength">Please enter minimum 10 character.</label>
                        <i class="icon ion-ios7-search fa-md-search extra-search" ng-click="openModal()"></i>
                    </div>
                    <div class="list list-row">
                        <span class="input-label text-bold">Descrição</span>
                        <textarea name="description" ng-model="componentData.description" class="textarea-extra" required ng-minlength='10'></textarea>
                        <label class="extra-error" ng-show="submitted && componentForm.description.$error.required">Description field is required.</label>
                        <label class="extra-error" ng-show="submitted && componentForm.description.$error.minlength">Please enter minimum 10 character.</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col" style="padding-bottom:0">
                    <span class="input-label text-bold">Quantidade</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="list">
                        <label class="item item-input" style="background-color: #eeeeee;border: 1px solid #ddd;border-radius: 5px;height: 35px;">
                            <input type="number" name="quantity" ng-model="componentData.quantity" step="0.01" min="0.01" max="9999999.999">
                        </label>
                    </div>
                </div>
                <div class="col">
                    <div class="list">
                        <label class="item item-select" style="border-radius: 5px;">
                            <div class="select-box-hide" style="top:-2px"></div>
                            <select ng-model="componentData.unit" class="select-box" ng-options='v.id as v.symbol for v in componentData.unitBox'>
                            </select>
                        </label>
                    </div>
                </div>
            </div>
        </ion-content>
    </form>
</ion-pane>
<script id="find_product.html" type="text/ng-template">
<div class="modal">
    <ion-header-bar class="bar-calm">
        <div class="buttons header-margin">
            <h4 class="mf-page-titles">Product List</h4>
            <span class="btn-separator"></span>
            <button class="button fa-remove-header" ng-click="closeModal()"></button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="row">
            <div class="col">
                <div class="list">
                    <div class="item item-input-search">
                        <label class="input-search-wrapper">
                            <i class="icon fa-small-search"></i>
                            <input type="text" class="input-box" placeholder="search" ng-model="searchText" value="$storage.x">
                        </label>
                    </div>
                    <i class="icon fa-search search-icon" ng-click="searchProcess(searchText)"></i>
                </div>
            </div>
        </div>
        <hr class='operation-item'>
        <div class="row">
            <div class="col">
                <div class="list list-inset listing-col" dir-paginate="process in items | filter:searchText | itemsPerPage: pageSize" current-page="currentPage">
                    <a class="item-list item-icon-right" ng-click="goUpdate(process.code,process.description)">
                        <span class="text-center-middle"><span class="font-grey">{{process.code}}</span> {{process.description}}</span>
                        <i class="icon fa-arrow-right arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="other-controller">
          <div class="text-center">
          <dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="templates/dirPagination.tpl.html">
          </dir-pagination-controls>
          </div>
        </div>

    </ion-content>
</div>
</script>