<div class="loding_div" ng-show="loading">
    <div id="loadingProgressG">
        <div id="loadingProgressG_1" class="loadingProgressG">
        </div>
    </div>
</div>
<ion-pane>
    <form name="materialCreateForm" novalidate ng-submit="submitCreateMaterial(materialCreateForm.$valid)">
        <ion-header-bar class="bar-calm">
            <div class="buttons header-margin">
                <button type="button" class="button fa-arrow-left" ng-click="goBack()"></button>
                <span class="btn-separator"></span>
                <button class="button fa-check" ng-click="submitted=true" ></button>
            </div>
        </ion-header-bar>
        <ion-content>
            <div class="row">
                <div class="col">
                    <div class="list">
                        <span class="input-label text-bold">Código</span>
                        <label class="item item-input input-box-extra">
                            <input type="text" name="code" ng-model="materialData.code" required ng-minlength='10' />
                        </label>
                        <label class="extra-error" ng-show="submitted && materialCreateForm.code.$error.required">Codigo field is required.</label>
                        <label class="extra-error" ng-show="submitted && materialCreateForm.code.$error.minlength">Please enter minimum 10 character.</label>

                        <span class="input-label text-bold">Descrição</span>
                        <label class="item item-input input-box-extra">
                            <input type="text" name="description" ng-model="materialData.description" required ng-minlength='10'/>
                        </label>
                        <label class="extra-error" ng-show="submitted && materialCreateForm.description.$error.required">Description field is required.</label>
                        <label class="extra-error" ng-show="submitted && materialCreateForm.description.$error.minlength">Please enter minimum 10 character.</label>
                    </div>
                </div>
            </div>
        </ion-content>
    </form>
</ion-pane>