<div class="loding_div" ng-show="loading">
    <div id="loadingProgressG">
        <div id="loadingProgressG_1" class="loadingProgressG">
        </div>
    </div>
</div>
<form name="materialUpdateForm" novalidate ng-submit="submitUpdateMaterial(materialUpdateForm.$valid)">
    <ion-header-bar class="bar-calm">
        <div class="buttons header-margin">
            <button type="button" class="button fa-arrow-left" ng-click="goBack()"></button>
            <span class="btn-separator"></span>
            <h4 class="mf-page-titles">&nbsp;{{material.code}}&nbsp;</h4>
            <span class="btn-separator"></span>
            <button class="button fa-check" ng-click="submitted=true"></button>
            <button type="button" class="button fa-remove-header" ng-click="removeMaterial()"></button>
        </div>
    </ion-header-bar>
    <ion-content>
        <div ng-if="materialTypeText == 'Product' || materialTypeText == 'Component'">
            <div class="row">
                <div class="col">
                    <div class="list list-row">
                        <span class="input-label text-bold">Código</span>
                        <label class="item item-input input-box-extra">
                            <input type="text" name="code" ng-model="material.code" required ng-minlength='6' />
                        </label>
                        <label class="extra-error" ng-show="submitted && materialUpdateForm.code.$error.required">Codigo field is required.</label>
                        <label class="extra-error" ng-show="submitted && materialUpdateForm.code.$error.minlength">Please enter minimum 6 character.</label>
                    </div>
                    <div class="list list-row">
                        <span class="input-label text-bold">Descrição</span>
                        <label class="item item-input input-box-extra">
                            <input type="text" name="description" ng-model="material.description" required ng-minlength='5'/>
                        </label>
                        <label class="extra-error" ng-show="submitted && materialUpdateForm.description.$error.required">Description field is required.</label>
                        <label class="extra-error" ng-show="submitted && materialUpdateForm.description.$error.minlength">Please enter minimum 5 character.</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div style="padding-bottom:0" class="col">
                    <span class="input-label text-bold">Largura</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="list">
                        <label style="background-color: #eeeeee;border: 1px solid #ddd;border-radius: 5px;height: 35px;" class="item item-input">
                                <input type="text" ng-model="material.width" name="width" required value="0">
                        </label>
                            <label class="extra-error" ng-show="submitted && materialUpdateForm.width.$error.required">Width field is required.</label>
                    </div>
                </div>
                <div class="col">
                    <div class="list">
                        <label style="border-radius: 5px;" class="item item-select">
                            <div style="top:-2px" class="select-box-hide"></div>
                            <select name="widthType" ng-model="material.widthType" class="select-box" ng-options='v.id as v.symbol for v in unitLengthBox'>
                            </select>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div style="padding-bottom:0" class="col">
                    <span class="input-label text-bold">Altura</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="list">
                        <label style="background-color: #eeeeee;border: 1px solid #ddd;border-radius: 5px;height: 35px;" class="item item-input">
                                <input type="text" ng-model="material.height" name="height" required>
                        </label>
                            <label class="extra-error" ng-show="submitted && materialUpdateForm.height.$error.required">Height field is required.</label>
                    </div>
                </div>
                <div class="col">
                    <div class="list">
                        <label style="border-radius: 5px;" class="item item-select">
                            <div style="top:-2px" class="select-box-hide"></div>
                            <select name="heightType" ng-model="material.heightType" class="select-box" ng-options='v.id as v.symbol for v in unitLengthBox'>
                            </select>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div style="padding-bottom:0" class="col">
                    <span class="input-label text-bold">Comprimento</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="list">
                        <label style="background-color: #eeeeee;border: 1px solid #ddd;border-radius: 5px;height: 35px;" class="item item-input">
                                <input type="text" ng-model="material.length" name="length" required>
                        </label>
                            <label class="extra-error" ng-show="submitted && materialUpdateForm.length.$error.required">Length field is required.</label>
                    </div>
                </div>
                <div class="col">
                    <div class="list">
                        <label style="border-radius: 5px;" class="item item-select">
                            <div style="top:-2px" class="select-box-hide"></div>
                            <select name="lengthType" ng-model="material.lengthType" class="select-box" ng-options='v.id as v.symbol for v in unitLengthBox'>
                            </select>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div style="padding-bottom:0" class="col">
                        <span class="input-label text-bold">Profundidade</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="list">
                        <label style="background-color: #eeeeee;border: 1px solid #ddd;border-radius: 5px;height: 35px;" class="item item-input">
                                <input type="text" ng-model="material.depth" name="depth" required>
                        </label>
                            <label class="extra-error" ng-show="submitted && materialUpdateForm.depth.$error.required">Depth field is required.</label>
                    </div>
                </div>
                <div class="col">
                    <div class="list">
                        <label style="border-radius: 5px;" class="item item-select">
                            <div style="top:-2px" class="select-box-hide"></div>
                                <select name="depthType" ng-model="material.depthType" class="select-box" ng-options='v.id as v.symbol for v in unitLengthBox'>
                            </select>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div style="padding-bottom:0" class="col">
                        <span class="input-label text-bold">Area</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="list">
                        <label style="background-color: #eeeeee;border: 1px solid #ddd;border-radius: 5px;height: 35px;" class="item item-input">
                                <input type="text" ng-model="material.area" name="area" required>
                        </label>
                            <label class="extra-error" ng-show="submitted && materialUpdateForm.area.$error.required">Area field is required.</label>
                    </div>
                </div>
                <div class="col">
                    <div class="list">
                        <label style="border-radius: 5px;" class="item item-select">
                            <div style="top:-2px" class="select-box-hide"></div>
                                <select name="areaType" ng-model="material.areaType" class="select-box" ng-options='v.id as v.symbol for v in unitLengthBox'>
                            </select>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div style="padding-bottom:0" class="col">
                        <span class="input-label text-bold">Peso</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="list">
                        <label style="background-color: #eeeeee;border: 1px solid #ddd;border-radius: 5px;height: 35px;" class="item item-input">
                                <input type="text" ng-model="material.weight" name="weight" required>
                        </label>
                            <label class="extra-error" ng-show="submitted && materialUpdateForm.weight.$error.required">Weight field is required.</label>
                    </div>
                </div>
                <div class="col">
                    <div class="list">
                        <label style="border-radius: 5px;" class="item item-select">
                            <div style="top:-2px" class="select-box-hide"></div>
                                <select name="weightType" ng-model="material.weightType" class="select-box" ng-options='v.id as v.symbol for v in unitWeightBox'>
                            </select>
                        </label>
                    </div>
                </div>
            </div>
        </div>

        <div  ng-if="materialTypeText == 'Material'">
            <div class="row">
                <div class="col">
                    <div class="list list-row">
                        <span class="input-label text-bold">Código</span>
                        <label class="item item-input input-box-extra">
                            <input type="text" name="code" ng-model="material.code" required ng-minlength='6' />
                        </label>
                        <label class="extra-error" ng-show="submitted && materialUpdateForm.code.$error.required">Codigo field is required.</label>
                        <label class="extra-error" ng-show="submitted && materialUpdateForm.code.$error.minlength">Please enter minimum 6 character.</label>
                    </div>
                    <div class="list list-row">
                        <span class="input-label text-bold">Descrição</span>
                        <label class="item item-input input-box-extra">
                            <input type="text" name="description" ng-model="material.description" required ng-minlength='5'/>
                        </label>
                        <label class="extra-error" ng-show="submitted && materialUpdateForm.description.$error.required">Description field is required.</label>
                        <label class="extra-error" ng-show="submitted && materialUpdateForm.description.$error.minlength">Please enter minimum 5 character.</label>
                    </div>
                    <div class="list list-row">
                        <span class="input-label text-bold">Laminação</span>
                        <label class="item item-input input-box-extra">
                            <input type="text" name="lamination" ng-model="material.lamination" required ng-minlength='2'/>
                        </label>
                        <label class="extra-error" ng-show="submitted && materialUpdateForm.lamination.$error.required">Lamination field is required.</label>
                        <label class="extra-error" ng-show="submitted && materialUpdateForm.lamination.$error.minlength">Please enter minimum 2 character.</label>
                    </div>
                    <div class="list list-row">
                        <span class="input-label text-bold">Tratamento</span>
                        <label class="item item-input input-box-extra">
                            <input type="text" name="treatment" ng-model="material.treatment" required ng-minlength='2'/>
                        </label>
                        <label class="extra-error" ng-show="submitted && materialUpdateForm.treatment.$error.required">Treatment field is required.</label>
                        <label class="extra-error" ng-show="submitted && materialUpdateForm.treatment.$error.minlength">Please enter minimum 2 character.</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div style="padding-bottom:0" class="col">
                    <span class="input-label text-bold">Espessura</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="list">
                        <label style="background-color: #eeeeee;border: 1px solid #ddd;border-radius: 5px;height: 35px;" class="item item-input">
                                <input type="text" ng-model="material.thickness" name="thickness" required>
                        </label>
                            <label class="extra-error" ng-show="submitted && materialUpdateForm.thickness.$error.required">Thickness field is required.</label>
                    </div>
                </div>
                <div class="col">
                    <div class="list">
                        <label style="border-radius: 5px;" class="item item-select">
                            <div style="top:-2px" class="select-box-hide"></div>
                            <select name="thicknessType" ng-model="material.thicknessType" class="select-box" ng-options='v.id as v.symbol for v in unitLengthBox'>
                            </select>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div style="padding-bottom:0" class="col">
                    <span class="input-label text-bold">Largura</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="list">
                        <label style="background-color: #eeeeee;border: 1px solid #ddd;border-radius: 5px;height: 35px;" class="item item-input">
                                <input type="text" ng-model="material.width" name="width" required>
                        </label>
                            <label class="extra-error" ng-show="submitted && materialUpdateForm.width.$error.required">Width field is required.</label>
                    </div>
                </div>
                <div class="col">
                    <div class="list">
                        <label style="border-radius: 5px;" class="item item-select">
                            <div style="top:-2px" class="select-box-hide"></div>
                            <select name="widthType" ng-model="material.widthType" class="select-box" ng-options='v.id as v.symbol for v in unitLengthBox'>
                            </select>
                        </label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div style="padding-bottom:0" class="col">
                    <span class="input-label text-bold">Comprimento</span>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="list">
                        <label style="background-color: #eeeeee;border: 1px solid #ddd;border-radius: 5px;height: 35px;" class="item item-input">
                                <input type="text" ng-model="material.length" name="length" required>
                        </label>
                            <label class="extra-error" ng-show="submitted && materialUpdateForm.length.$error.required">Length field is required.</label>
                    </div>
                </div>
                <div class="col">
                    <div class="list">
                        <label style="border-radius: 5px;" class="item item-select">
                            <div style="top:-2px" class="select-box-hide"></div>
                            <select name="lengthType" ng-model="material.lengthType" class="select-box" ng-options='v.id as v.symbol for v in unitLengthBox'>
                            </select>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-if="materialTypeText == 'Inputs' || materialTypeText == 'Ink' || materialTypeText == 'Machine' || materialTypeText == 'Tooling'">
            <div class="col">
                <div class="list list-row">
                    <span class="input-label text-bold">Código</span>
                    <label class="item item-input input-box-extra">
                        <input type="text" name="code" ng-model="material.code" required ng-minlength='6' />
                    </label>
                    <label class="extra-error" ng-show="submitted && materialUpdateForm.code.$error.required">Codigo field is required.</label>
                    <label class="extra-error" ng-show="submitted && materialUpdateForm.code.$error.minlength">Please enter minimum 6 character.</label>
                </div>
                <div class="list list-row">
                    <span class="input-label text-bold">Descrição</span>
                    <label class="item item-input input-box-extra">
                        <input type="text" name="description" ng-model="material.description" required ng-minlength='5'/>
                    </label>
                    <label class="extra-error" ng-show="submitted && materialUpdateForm.description.$error.required">Description field is required.</label>
                    <label class="extra-error" ng-show="submitted && materialUpdateForm.description.$error.minlength">Please enter minimum 5 character.</label>
                </div>
            </div>
        </div>
    </ion-content>
</form>