<div class="modal">
    <ion-header-bar class="bar-calm">
        <div class="buttons header-margin">
            <h4 class="mf-page-titles">&nbsp;Busca de Material</h4>
        </div>
    </ion-header-bar>
    <ion-content>
        <div class="row">
            <div class="col">
                <div class="list list-inset listing-col" ng-repeat="material in importedMaterial">
                    <a class="item-list item-icon-right" ng-click="selectMaterial(material.code,material.description)">
                        <span class="text-center-middle"><span class="font-grey">{{material.code}}</span> {{material.description}}</span>
                        <i class="icon fa-arrow-right arrow-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="pagination">
                <a ng-repeat="n in pageMaterialStack" ng-click="goImportMaterialPage(n)">
                    <span ng-if='n != (pageMaterialStack.length)'>
                        <span class="page">{{n}}</span>
                    </span>
                    <span ng-if='n == (pageMaterialStack.length)'>
                        <span class="page active">{{n}}</span>
                    </span>
                </a>
                <a  class="page fa-arrow-right next-arrow" ng-click="nextImportMaterialPage(pageMaterialStack.length)"></a>
            </div>
        </div>
    </ion-content>
</div>