<div class="modal" ng-controller="CommonCtrl">
    <form name="materialCreateForm" novalidate ng-submit="submitCreateMaterial(materialCreateForm.$valid)">
        <ion-header-bar class="bar-calm">
            <div class="buttons header-margin">
                <button type="button" class="button fa-arrow-left" ng-click="materialCreateModalClose()"></button>
                <span class="btn-separator"></span>
                <button class="button fa-check" ng-click="submitted=true"></button>
                <button type="button" class="button fa-download" ng-click="openImportMaterialList()" ng-if="materialTypeText != 'machine' && materialTypeText != 'tooling'"></button>
            </div>
        </ion-header-bar>
        <ion-content>
            <div ng-if="materialTypeText == 'product' || materialTypeText == 'component'">
                <div class="row">
                    <div class="col">
                        <div class="list" style="margin-bottom: 0px">
                            <span class="input-label text-bold">Código</span>
                            <label class="item item-input input-box-extra">
                                <input type="text" name="code" ng-model="material.code" required ng-minlength='6' />
                            </label>
                            <label class="extra-error" ng-show="submitted && materialCreateForm.code.$error.required">Codigo é obrigatório.</label>
                            <label class="extra-error" ng-show="submitted && materialCreateForm.code.$error.minlength">Tamanho mínimo 6 caracteres.</label>
                        </div>
                        <div class="list" style="margin-bottom: 0px">
                            <span class="input-label text-bold">Descrição</span>
                            <label class="item item-input input-box-extra">
                                <input type="text" name="description" ng-model="material.description" required ng-minlength='5'/>
                            </label>
                            <label class="extra-error" ng-show="submitted && materialCreateForm.description.$error.required">Descrição é obrigatório.</label>
                            <label class="extra-error" ng-show="submitted && materialCreateForm.description.$error.minlength">Tamanho mínimo 5 caracteres.</label>
                        </div>
                        <div class="list" style="margin-bottom: 0px">
                            <span class="input-label text-bold">Process</span>
                            <label class="item item-input input-box-extra">
                                <input type="text" name="process" ng-model="material.process" required/>
                            </label>
                            <label class="extra-error" ng-show="submitted && materialCreateForm.process.$error.required">Process é obrigatório.</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div style="padding-bottom:0" class="col">
                        <span class="input-label text-bold">Largura</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="list">
                            <label style="background-color: #eeeeee;border: 1px solid #ddd;border-radius: 5px;height: 35px;" class="item item-input">
                                <input type="text"  ng-model="material.width" name="width" required value="0">
                            </label>
                            <label class="extra-error" ng-show="submitted && materialCreateForm.width.$error.required">Largura é obrigatório.</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="list">
                            <label style="border-radius: 5px;" class="item item-select">
                                <div style="top:-2px" class="select-box-hide"></div>
                                <select name="widthType" ng-model="material.widthType" class="select-box" ng-options='v.id as v.symbol for v in unitLengthBox'>
                                </select>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div style="padding-bottom:0" class="col">
                        <span class="input-label text-bold">Altura</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="list">
                            <label style="background-color: #eeeeee;border: 1px solid #ddd;border-radius: 5px;height: 35px;" class="item item-input">
                                <input type="text"  ng-model="material.height" name="height" required>
                            </label>
                            <label class="extra-error" ng-show="submitted && materialCreateForm.height.$error.required">Altura é obrigatório.</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="list">
                            <label style="border-radius: 5px;" class="item item-select">
                                <div style="top:-2px" class="select-box-hide"></div>
                                <select name="heightType" ng-model="material.heightType" class="select-box" ng-options='v.id as v.symbol for v in unitLengthBox'>
                                </select>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div style="padding-bottom:0" class="col">
                        <span class="input-label text-bold">Comprimento</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="list">
                            <label style="background-color: #eeeeee;border: 1px solid #ddd;border-radius: 5px;height: 35px;" class="item item-input">
                                <input type="text"  ng-model="material.length" name="length" required>
                            </label>
                            <label class="extra-error" ng-show="submitted && materialCreateForm.length.$error.required">Comprimento é obrigatório.</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="list">
                            <label style="border-radius: 5px;" class="item item-select">
                                <div style="top:-2px" class="select-box-hide"></div>
                                <select name="lengthType" ng-model="material.lengthType" class="select-box" ng-options='v.id as v.symbol for v in unitLengthBox'>
                                </select>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div style="padding-bottom:0" class="col">
                        <span class="input-label text-bold">Profundidade</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="list">
                            <label style="background-color: #eeeeee;border: 1px solid #ddd;border-radius: 5px;height: 35px;" class="item item-input">
                                <input type="text"  ng-model="material.depth" name="depth" required>
                            </label>
                            <label class="extra-error" ng-show="submitted && materialCreateForm.depth.$error.required">Profundidade é obrigatório.</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="list">
                            <label style="border-radius: 5px;" class="item item-select">
                                <div style="top:-2px" class="select-box-hide"></div>
                                <select name="depthType" ng-model="material.depthType" class="select-box" ng-options='v.id as v.symbol for v in unitLengthBox'>
                                </select>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div style="padding-bottom:0" class="col">
                        <span class="input-label text-bold">Area</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="list">
                            <label style="background-color: #eeeeee;border: 1px solid #ddd;border-radius: 5px;height: 35px;" class="item item-input">
                                <input type="text" ng-model="material.area" name="area" required>
                            </label>
                            <label class="extra-error" ng-show="submitted && materialCreateForm.area.$error.required">Area é obrigatório.</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="list">
                            <label style="border-radius: 5px;" class="item item-select">
                                <div style="top:-2px" class="select-box-hide"></div>
                                <select name="areaType" ng-model="material.areaType" class="select-box" ng-options='v.id as v.symbol for v in unitLengthBox'>
                                </select>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div style="padding-bottom:0" class="col">
                        <span class="input-label text-bold">Peso</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="list">
                            <label style="background-color: #eeeeee;border: 1px solid #ddd;border-radius: 5px;height: 35px;" class="item item-input">
                                <input type="text"  ng-model="material.weight" name="weight" required>
                            </label>
                            <label class="extra-error" ng-show="submitted && materialCreateForm.weight.$error.required">Peso é obrigatório.</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="list">
                            <label style="border-radius: 5px;" class="item item-select">
                                <div style="top:-2px" class="select-box-hide"></div>
                                <select name="weightType" ng-model="material.weightType" class="select-box" ng-options='v.id as v.symbol for v in unitWeightBox'>
                                </select>
                            </label>
                        </div>
                    </div>
                </div>

            </div>

            <div  ng-if="materialTypeText == 'material'">
                <div class="row">
                    <div class="col">
                        <div class="list" style="margin-bottom: 0px">
                            <span class="input-label text-bold">Código</span>
                            <label class="item item-input input-box-extra">
                                <input type="text" name="code" ng-model="material.code" required ng-minlength='6' />
                            </label>
                            <label class="extra-error" ng-show="submitted && materialCreateForm.code.$error.required">Código é obrigatório.</label>
                            <label class="extra-error" ng-show="submitted && materialCreateForm.code.$error.minlength">Tamanho mínimo 6 caracteres.</label>
                        </div>
                        <div class="list" style="margin-bottom: 0px">
                            <span class="input-label text-bold">Descrição</span>
                            <label class="item item-input input-box-extra">
                                <input type="text" name="description" ng-model="material.description" required ng-minlength='5'/>
                            </label>
                            <label class="extra-error" ng-show="submitted && materialCreateForm.description.$error.required">Descrição é obrigatório.</label>
                            <label class="extra-error" ng-show="submitted && materialCreateForm.description.$error.minlength">Tamanho mínimo 5 caracteres.</label>
                        </div>
                        <div class="list" style="margin-bottom: 0px">
                            <span class="input-label text-bold">Process</span>
                            <label class="item item-input input-box-extra">
                                <input type="text" name="process" ng-model="material.process" required/>
                            </label>
                            <label class="extra-error" ng-show="submitted && materialCreateForm.process.$error.required">Process é obrigatório.</label>
                        </div>
                        <div class="list" style="margin-bottom: 0px">
                            <span class="input-label text-bold">Lamination</span>
                            <label class="item item-input input-box-extra">
                                <input type="text" name="lamination" ng-model="material.lamination" required ng-minlength='2'/>
                            </label>
                            <label class="extra-error" ng-show="submitted && materialCreateForm.lamination.$error.required">Laminação é obrigatório.</label>
                            <label class="extra-error" ng-show="submitted && materialCreateForm.lamination.$error.minlength">Tamanho mínimo 2 caracteres.</label>
                        </div>
                        <div class="list" style="margin-bottom: 0px">
                            <span class="input-label text-bold">Tratamento</span>
                            <label class="item item-input input-box-extra">
                                <input type="text" name="treatment" ng-model="material.treatment" required ng-minlength='2'/>
                            </label>
                            <label class="extra-error" ng-show="submitted && materialCreateForm.treatment.$error.required">Tratamento é obrigatório.</label>
                            <label class="extra-error" ng-show="submitted && materialCreateForm.treatment.$error.minlength">Tamanho mínimo 2 caracteres.</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div style="padding-bottom:0" class="col">
                        <span class="input-label text-bold">Espessura</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="list">
                            <label style="background-color: #eeeeee;border: 1px solid #ddd;border-radius: 5px;height: 35px;" class="item item-input">
                                <input type="text"  ng-model="material.thickness" name="thickness" required>
                            </label>
                            <label class="extra-error" ng-show="submitted && materialCreateForm.thickness.$error.required">Espessura é obrigatório.</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="list">
                            <label style="border-radius: 5px;" class="item item-select">
                                <div style="top:-2px" class="select-box-hide"></div>
                                <select name="thicknessType" ng-model="material.thicknessType" class="select-box" ng-options='v.id as v.symbol for v in unitLengthBox'>
                                </select>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div style="padding-bottom:0" class="col">
                        <span class="input-label text-bold">Largura</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="list">
                            <label style="background-color: #eeeeee;border: 1px solid #ddd;border-radius: 5px;height: 35px;" class="item item-input">
                                <input type="text"  ng-model="material.width" name="width" required>
                            </label>
                            <label class="extra-error" ng-show="submitted && materialCreateForm.width.$error.required">Largura é obrigatório.</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="list">
                            <label style="border-radius: 5px;" class="item item-select">
                                <div style="top:-2px" class="select-box-hide"></div>
                                <select name="widthType" ng-model="material.widthType" class="select-box" ng-options='v.id as v.symbol for v in unitLengthBox'>
                                </select>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div style="padding-bottom:0" class="col">
                        <span class="input-label text-bold">Comprimento</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="list">
                            <label style="background-color: #eeeeee;border: 1px solid #ddd;border-radius: 5px;height: 35px;" class="item item-input">
                                <input type="text"  ng-model="material.length" name="length" required>
                            </label>
                            <label class="extra-error" ng-show="submitted && materialCreateForm.length.$error.required">Comprimento é obrigatório.</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="list">
                            <label style="border-radius: 5px;" class="item item-select">
                                <div style="top:-2px" class="select-box-hide"></div>
                                <select name="lengthType" ng-model="material.lengthType" class="select-box" ng-options='v.id as v.symbol for v in unitLengthBox'>
                                </select>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div style="padding-bottom:0" class="col">
                        <span class="input-label text-bold">Peso</span>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="list">
                            <label style="background-color: #eeeeee;border: 1px solid #ddd;border-radius: 5px;height: 35px;" class="item item-input">
                                <input type="text"  ng-model="material.weight" name="weight" required>
                            </label>
                            <label class="extra-error" ng-show="submitted && materialCreateForm.weight.$error.required">Peso é obrigatório.</label>
                        </div>
                    </div>
                    <div class="col">
                        <div class="list">
                            <label style="border-radius: 5px;" class="item item-select">
                                <div style="top:-2px" class="select-box-hide"></div>
                                <select name="weightType" ng-model="material.weightType" class="select-box" ng-options='v.id as v.symbol for v in unitWeightBox'>
                                </select>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" ng-if="materialTypeText == 'inputs' || materialTypeText == 'ink' || materialTypeText == 'machine' || materialTypeText == 'tooling'">
                <div class="col">
                    <div class="list" style="margin-bottom: 0px">
                        <span class="input-label text-bold">Código</span>
                        <label class="item item-input input-box-extra">
                            <input type="text" name="code" ng-model="material.code" required ng-minlength='6' />
                        </label>
                        <label class="extra-error" ng-show="submitted && materialCreateForm.code.$error.required">Código é obrigatório.</label>
                        <label class="extra-error" ng-show="submitted && materialCreateForm.code.$error.minlength">Tamanho mínimo 6 caracteres.</label>
                    </div>
                    <div class="list" style="margin-bottom: 0px">
                        <span class="input-label text-bold">Descrição</span>
                        <label class="item item-input input-box-extra">
                            <input type="text" name="description" ng-model="material.description" required ng-minlength='5'/>
                        </label>
                        <label class="extra-error" ng-show="submitted && materialCreateForm.description.$error.required">Descrição é obrigatório.</label>
                        <label class="extra-error" ng-show="submitted && materialCreateForm.description.$error.minlength">Tamanho mínimo 5 caracteres.</label>
                    </div>
                    <div class="list" style="margin-bottom: 0px">
                        <span class="input-label text-bold">Process</span>
                        <label class="item item-input input-box-extra">
                            <input type="text" name="process" ng-model="material.process" required/>
                        </label>
                        <label class="extra-error" ng-show="submitted && materialCreateForm.process.$error.required">Process é obrigatório.</label>
                    </div>
                </div>
            </div>
        </ion-content>
    </form>
</div>