<div class="loding_div" ng-show="loading">
    <div id="loadingProgressG">
        <div id="loadingProgressG_1" class="loadingProgressG">
        </div>
    </div>
</div>
<ion-pane>
    <form name="processCreateForm" novalidate ng-submit="submitCreateProcess(processCreateForm.$valid)">
        <ion-header-bar class="bar-calm">
            <div class="buttons header-margin">
                <button type="button" class="button fa-arrow-left" ng-click="goBack()"></button>
                <span class="btn-separator"></span>
                <button class="button fa-check" ng-click="submitted=true" ></button>
            </div>
        </ion-header-bar>
        <ion-content>
            <div class="row">
                <div class="col">
                    <div class="list">
                        <span class="input-label text-bold">Codigo</span>
                        <label class="item item-input input-box-extra">
                            <input type="text" name="code" ng-model="processData.code" required ng-minlength='10' />
                        </label>
                        <label class="extra-error" ng-show="submitted && processCreateForm.code.$error.required">Codigo é obrigatório.</label>
                        <label class="extra-error" ng-show="submitted && processCreateForm.code.$error.minlength">Tamanho mínimo 10 caracteres.</label>
                    </div>
                    <div class="list list-row">
                        <span class="input-label text-bold">Descrição</span>
                        <textarea name="description" ng-model="processData.description" required ng-minlength='10' class="textarea-extra" required ></textarea>
                        <label class="extra-error" ng-show="submitted && processUpdateForm.description.$error.required">Descrição é obrigatório.</label>
                        <label class="extra-error" ng-show="submitted && processUpdateForm.description.$error.minlength">Temanho mínimo 10 caracteres.</label>
                    </div>
                </div>
            </div>
        </ion-content>
    </form>
</ion-pane>